@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.MiniCartSummaryViewModel

<div class="cart-button-wrapper jsCart">
    <div class="btn-group">
        <button class="btn btn--green cart-button dropdown-toggle jsCartToggle" data-toggle="dropdown" aria-expanded="false" data-url="@Url.Action("MiniCartDetails")" id="cartDropDown"><span class="counter counter--small jsCartItemCount">@Model.ItemCount</span></button>
        <ul class="dropdown-menu jsCartDropdown" role="menu" aria-labelledby="cartDropDown"></ul>
    </div>
</div>