@model EPiServer.Reference.Commerce.Site.Features.Cart.Models.MiniCartViewModel

<div id="MiniCartSummary" class="cart-button-wrapper jsCart">
   @{ Html.RenderPartial("MiniCartDetails", Model); }
</div>
