@model EPiServer.Reference.Commerce.Site.Features.Shared.ViewModels.CountryRegionViewModel

<div class="form-group address-region">
    @Html.LabelFor(formModel => formModel.Region)
    @if (Model.RegionOptions != null && Model.RegionOptions.Any())
    {
        @Html.DropDownListFor(formModel => formModel.Region, new SelectList(Model.RegionOptions, Model.Region), 
            new {@class = "form-control address-region-input jsChangeTaxAddress"})
        
    }
    else
    {
        @Html.TextBoxFor(formModel => formModel.Region, 
            new {@class = "form-control address-region-input jsChangeTaxAddress"})
    }
    @Html.ValidationMessageFor(formModel => formModel.Region)
</div>

