
<div class="col-md-12 col-sm-12">
    <h2>@Html.Translate("/ResetPassword/ForgotPasswordConfirmation/Heading")</h2>
    <p>
        @Html.Translate("/ResetPassword/ForgotPasswordConfirmation/Message")
    </p>
</div>

