
<div class="col-md-12 col-sm-12">
    <h3>@Html.Translate("/ResetPassword/ResetPasswordConfirmation/Heading")</h3>
        <p>
            @Html.Translate("/ResetPassword/ResetPasswordConfirmation/Message")
            @Html.ActionLink(Html.Translate("/ResetPassword/ResetPasswordConfirmation/LoginLink"), "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
</div>
