<?xml version="1.0"?>
<Configuration version="5.0">
  <Settings>
	<Setting name="HelpPrefix" value=""/>
  </Settings>

	<Acl>
		<Group id="campaigns" text="{SharedStrings:Campaigns}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="promotions" text="{SharedStrings:Promotions}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="segments" text="{SharedStrings:Customer_Segments}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="policies" text="{SharedStrings:Policies}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="expr" text="{SharedStrings:Expressions}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
	</Acl>	
	<Views>
		<View id="Campaign-List" name="{MarketingStrings:Campaign_List}" controlUrl="Marketing/CampaignList.ascx" permissions="marketing:campaigns:mng:view" help="Marketing">
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column HeadingText="{SharedStrings:Name}" id="name" Width="300" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="CampaignId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Campaign-Edit','campaignid={0}');" DataTextFields="Name" DataTextFormatString="{0}" DataField="name" permissions="marketing:campaigns:mng:edit"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="StartDate" HeadingText="{SharedStrings:Starts}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="EndDate" HeadingText="{SharedStrings:Ends}"></Column>
				<Column Width="50" AllowSorting="true" DataField="IsActive" HeadingText="{SharedStrings:Is_Active}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
			</Columns>
		</View>

		<View id="Campaign-Edit" name="{MarketingStrings:Campaign_Edit}" controlUrl="marketing/CampaignEdit.ascx" permissions="marketing:campaigns:mng:edit" help="Campaigns">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="marketing/tabs/CampaignEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Promotion-List" name="{MarketingStrings:Promotion_List}" controlUrl="Marketing/PromotionList.ascx" permissions="marketing:promotions:mng:view" help="Promotions">
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column HeadingText="{SharedStrings:Name}" id="name" Width="300" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="PromotionId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Promotion-Edit','promotionid={0}');" DataTextFields="Name" DataTextFormatString="{0}" DataField="name" permissions="marketing:promotions:mng:edit"></Column>
				<Column Width="50" AllowSorting="true" DataField="PromotionGroup" HeadingText="{SharedStrings:Group}"></Column>
				<Column Width="50" AllowSorting="true" DataField="Priority" HeadingText="{SharedStrings:Priority}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="StartDate" HeadingText="{SharedStrings:Starts}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="EndDate" HeadingText="{SharedStrings:Ends}"></Column>
				<Column Width="80" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
        <Column Width="80" AllowSorting="false" DataField="TotalUsed" HeadingText="{MarketingStrings:Promotion_Used_Count}"></Column>
        
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
			</Columns>
		</View>

		<View id="Segment-List" name="{MarketingStrings:Customer_Segment_List}" controlUrl="Marketing/SegmentList.ascx" permissions="marketing:segments:mng:view" help="Customer+Segments">
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column HeadingText="{SharedStrings:Name}" id="name" Width="300" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="SegmentId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Segment-Edit','segmentid={0}');" DataTextFields="Name" DataTextFormatString="{0}" DataField="name" permissions="marketing:segments:mng:edit"></Column>
			</Columns>
		</View>

		<View id="Segment-Edit" name="{MarketingStrings:Segment_Edit}" controlUrl="marketing/SegmentEdit.ascx" permissions="marketing:segments:mng:edit" help="Customer+Segments">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="marketing/tabs/SegmentEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Policy-List" name="{MarketingStrings:Policy_List}" controlUrl="Marketing/PolicyList.ascx" permissions="marketing:policies:mng:view" help="Creating+Policies">
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Visible="false" Width="100" DataField="PolicyId" HeadingText="{SharedStrings:Policy_Id}"></Column>
				<Column HeadingText="{SharedStrings:Name}" id="Name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="PolicyId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Policy-Edit','policyid={0}');" DataTextFields="Name" DataTextFormatString="{0}"  permissions="marketing:policies:mng:edit"></Column>
				<Column Width="200" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
				<Column Width="100" AllowSorting="true" DataField="IsLocal" HeadingText="{SharedStrings:IsLocal}"></Column>
			</Columns>
		</View>

		<View id="Policy-Edit" name="{MarketingStrings:Policy_Edit}" controlUrl="marketing/PolicyEdit.ascx" permissions="marketing:policies:mng:edit" help="Creating+Policies">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="marketing/tabs/PolicyEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Promotion-Edit" name="{MarketingStrings:Promotion_Edit}" controlUrl="marketing/PromotionEdit.ascx" permissions="marketing:promotions:mng:edit" help="Promotions">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="marketing/tabs/PromotionEditTab.ascx"></Tab>
				<!--
				<Tab Name="{SharedStrings:Conditions}" ControlUrl="marketing/tabs/PromotionCondEditTab.ascx"></Tab>
				<Tab Name="{SharedStrings:Policies}" ControlUrl="marketing/tabs/PromotionPolicyEditTab.ascx"></Tab>				
				-->
			</Tabs>
		</View>

    <!-- ComponentArt Grid -->
    <View id="PromotionCond-List" name="{MarketingStrings:Condition_List}" controlUrl="" permissions="marketing:promotions:mng:view">
			<Columns>
				<Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
				<Column IsDefault="true" Visible="false" IsSearchable="true" Width="100" AllowSorting="true" DataField="PromotionConditionId" HeadingText="{SharedStrings:Condition_Id}"></Column>
				<Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="ExpressionId" HeadingText="{SharedStrings:ExpressionId}"></Column>
				<Column IsDefault="true" IsSearchable="true" AllowSorting="true" DataField="ExpressionName" HeadingText="{SharedStrings:Expression}"></Column>
				<Column IsDefault="true" Width="200" IsSearchable="true" AllowSorting="true" DataField="CatalogName" HeadingText="{SharedStrings:Catalog}"></Column>
				<Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="CatalogNodeId" HeadingText="{SharedStrings:NodeId}"></Column>
				<Column IsDefault="true" Width="200" IsSearchable="true" AllowSorting="true" DataField="CatalogNodeName" HeadingText="{SharedStrings:Node}"></Column>
				<Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="CatalogEntryId" HeadingText="{SharedStrings:EntryId}"></Column>
				<Column IsDefault="true" Width="200" IsSearchable="true" AllowSorting="true" DataField="CatalogEntryName" HeadingText="{SharedStrings:Entry}"></Column>
			</Columns>
		</View>

    <!-- ComponentArt Grid -->
		<View id="PromotionPolicy-List" name="{MarketingStrings:Policy_List}" controlUrl="" permissions="marketing:promotions:mng:view" help="Creating+Policies">
			<Columns>
				<Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
				<Column IsDefault="true" Visible="false" IsSearchable="true" Width="100" AllowSorting="true" DataField="PromotionPolicyId" HeadingText="{SharedStrings:Policy_Id}"></Column>
				<Column DataCellServerTemplateId="ExpressionTemplate" IsDefault="true" IsSearchable="true" AllowSorting="true" DataField="PolicyId" HeadingText="{SharedStrings:Expression}"></Column>
				<Column DataCellServerTemplateId="PolicyNameTemplate" IsDefault="true" Width="200" IsSearchable="true" AllowSorting="true" DataField="PolicyId" HeadingText="{SharedStrings:Policy_Name}"></Column>
				<Column DataCellServerTemplateId="PolicyStatusTemplate" IsDefault="true" Width="200" IsSearchable="true" AllowSorting="true" DataField="PolicyId" HeadingText="{SharedStrings:Policy_Status}"></Column>
			</Columns>
		</View>

		<View id="Expression-List" name="{MarketingStrings:Expression_List}" controlUrl="marketing/ExpressionList.ascx" permissions="marketing:expr:mng:view" help="Creating+Expressions">
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column Visible="false" Width="100" DataField="ExpressionId" HeadingText="{SharedStrings:Expression_Id}"></Column>
				<Column HeadingText="{SharedStrings:Name}" id="name" Width="300" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="ExpressionId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Expression-Edit','expressionid={0}');" DataTextFields="Name" DataTextFormatString="{0}" DataField="name" permissions="marketing:expr:mng:edit"></Column>
				<Column Width="250" AllowSorting="true" DataField="Description" HeadingText="{SharedStrings:Description}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Modified}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
			</Columns>
		</View>

		<View id="Expression-Edit" name="{MarketingStrings:Expression_Edit}" controlUrl="marketing/ExpressionEdit.ascx" permissions="marketing:expr:mng:edit" help="Creating+Expressions">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="marketing/tabs/ExpressionEditTab.ascx"></Tab>
			</Tabs>
		</View>

    <View id="EntrySelector" name="Catalog Entry Subset Selector" controlUrl="Marketing/CatalogEntrySubsetSelector.ascx"/>
    
    <!-- Rules Editors -->
		<View id="RulesEditor" name="Rules Editor" controlUrl="Marketing/Dialogs/RuleEditDialog.ascx"/>
    <View id="RulesEditor-List" name="{MarketingStrings:Expression_List}" controlUrl="">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" Width="100" DataField="ExpressionId" HeadingText="{SharedStrings:Expression_Id}"></Column>
        <Column HeadingText="{SharedStrings:Name}" id="name" Width="300" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="ExpressionId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Marketing', 'Expression-Edit','expressionid={0}');" DataTextFields="Name" DataTextFormatString="{0}" DataField="name" permissions="marketing:expr:mng:edit"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Modified}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
      </Columns>
    </View>
  </Views>
</Configuration>
