<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <!--
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  -->
  <appSettings>
    <add key="epi:HelpUrl" value="http://webhelp.episerver.com/19-1/home.htm" />
  </appSettings>
  <system.web>
    <pages validateRequest="false" enableEventValidation="false"></pages>
  </system.web>
</configuration>