@model EPiServer.Reference.Commerce.Site.Features.Payment.PaymentMethods.CashOnDeliveryPaymentMethod

@Html.HiddenFor(model => model.SystemKeyword)

<div class="alert alert-info">
   @Html.Translate("/Checkout/Payment/Methods/CashOnDelivery/Description")
</div>