@using EPiServer.Reference.Commerce.Site.Features.Folder.Editorial.Blocks
@model FreeTextBlock
@{
    Layout = null;
}

<div class="teaserblock col-xs-12">
    @Html.PropertyFor(x => x.MainBody)
</div>
