@using EPiServer.Core
@model EPiServer.Reference.Commerce.Site.Features.Navigation.Models.HeaderViewModel
@{
    Layout = null;
}
<div class="container-fluid">
    <div class="masthead row">
        <div class="col-xs-12  col-sm-6">
            <a href="@Url.ContentUrl(ContentReference.StartPage)">
                <img src="~/Styles/Images/logotype_quicksilver.svg" alt="Quicksilver" class="site-logo" />
            </a>
        </div>
        <div class="col-xs-12  col-sm-6  search-container">
            @{ Html.RenderAction("MiniCartSummary", "Cart"); }

            <div class="search">
                @using (Html.BeginForm("Index", null, new { node = Model.StartPage.SearchPage }, FormMethod.Get, new { @class = "form-inline", @role = "form" }))
                {
                    <div class="input-group  search-input  js-search-input">
                        <label class="sr-only" for="search">Search</label>
                        <input type="text" placeholder="Search" class="form-control  form--blue  jsQuickSearch" id="q" name="q" data-url="@Url.Action("QuickSearch", null, new{ node = Model.StartPage.SearchPage })" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn--blue" type="submit"></button>
                        </span>

                        <div class="jsQuickSearchResult" style="display: none;"></div>
                    </div>
                }
            </div>


        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="js-site-nav site-nav row">
        <nav role="navigation" class="navbar col-xs-12">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-dropdown" id="navbar">
                @Html.PropertyFor(x => x.StartPage.MainMenu, new { @class = "nav navbar-nav", @selected = "active", @currentPage = Model.CurrentContentLink })
                @{ Html.RenderAction("Index", "Currency"); }
            </div>
        </nav>
    </div>
</div>
