@using Microsoft.AspNet.Identity
@model EPiServer.Reference.Commerce.Site.Features.Navigation.Models.HeaderViewModel
@{
    Layout = null;
    var additionalLink = new EPiServer.SpecializedProperties.LinkItem();
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    additionalLink.Href = Url.Action("SignOut", "Login" );
    additionalLink.Text = Html.Translate("/Header/Account/SignOut");
}
else
{
    additionalLink.Href = Url.Action("Index", "Login", new { returnUrl = Model.CurrentContentLink != null ?  Url.ContentUrl(Model.CurrentContentLink) : "/" });
    additionalLink.Text = Html.Translate("/Header/Account/SignIn");
}

<span>@Model.UserDisplayName</span>


@Html.PropertyFor(
    x => x.StartPage.RightMenu, new 
    {
        @class = "nav settings-bar__nav pull-right col-md-offset-1",
        @anchorClass = "link--white",
        additionalLink = additionalLink
    }
)