<?xml version="1.0"?>
<Promotion sortorder="102">
	<Type>BuyXGetNofYatReducedPrice</Type>
	<Name>{MarketingStrings:Promotion_Buy_X_Get_N_At_Y_Discount}</Name>
	<Description>
        {MarketingStrings:Promotion_Buy_X_Get_N_At_Y_Discount_Description}
    </Description>
	<Group>order</Group>
	<Path>BuyXGetNofYatReducedPrice/ConfigControl.ascx</Path>
	<Expression>
		<RuleSet Name="RuleSet0" ChainingBehavior="None" Description="{p1:Null}" xmlns:p1="http://schemas.microsoft.com/winfx/2006/xaml" xmlns="http://schemas.microsoft.com/winfx/2006/xaml/workflow">
			<RuleSet.Rules>
				<Rule Name="3" ReevaluationBehavior="Never" Priority="9999" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodePropertyReferenceExpression PropertyName="IsValid">
											<ns0:CodePropertyReferenceExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="ValidationResult">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodePropertyReferenceExpression.TargetObject>
										</ns0:CodePropertyReferenceExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
					</Rule.ThenActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodeMethodInvokeExpression xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeMethodInvokeExpression.Parameters>
										<ns0:CodePropertyReferenceExpression PropertyName="Entries">
											<ns0:CodePropertyReferenceExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="SourceEntriesSet">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodePropertyReferenceExpression PropertyName="PromotionContext">
															<ns0:CodePropertyReferenceExpression.TargetObject>
																<ns0:CodeThisReferenceExpression />
															</ns0:CodePropertyReferenceExpression.TargetObject>
														</ns0:CodePropertyReferenceExpression>
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodePropertyReferenceExpression.TargetObject>
										</ns0:CodePropertyReferenceExpression>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">!('$EntryYFilter'.Equals(this.CatalogEntryCode.ToString())) &amp;&amp; (('$EntryXSkuSet'.IndexOf(this.CatalogEntryCode.ToString())) $EqualityOper 0) &amp;&amp; (((decimal)this.Quantity) &gt; 0)</ns1:String>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeMethodInvokeExpression.Parameters>
									<ns0:CodeMethodInvokeExpression.Method>
										<ns0:CodeMethodReferenceExpression MethodName="ValidateAny">
											<ns0:CodeMethodReferenceExpression.TargetObject>
												<ns0:CodeThisReferenceExpression />
											</ns0:CodeMethodReferenceExpression.TargetObject>
										</ns0:CodeMethodReferenceExpression>
									</ns0:CodeMethodInvokeExpression.Method>
								</ns0:CodeMethodInvokeExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
				<Rule Name="3_action0" ReevaluationBehavior="Never" Priority="0" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeExpressionStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeExpressionStatement.Expression>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodeMethodInvokeExpression>
													<ns0:CodeMethodInvokeExpression.Parameters>
														<ns0:CodePrimitiveExpression>
															<ns0:CodePrimitiveExpression.Value>
																<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$RewardType</ns1:String>
															</ns0:CodePrimitiveExpression.Value>
														</ns0:CodePrimitiveExpression>
														<ns0:CodePrimitiveExpression>
															<ns0:CodePrimitiveExpression.Value>
																<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountOff</ns1:String>
															</ns0:CodePrimitiveExpression.Value>
														</ns0:CodePrimitiveExpression>
														<ns0:CodePrimitiveExpression>
															<ns0:CodePrimitiveExpression.Value>
																<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountType</ns1:String>
															</ns0:CodePrimitiveExpression.Value>
														</ns0:CodePrimitiveExpression>
													</ns0:CodeMethodInvokeExpression.Parameters>
													<ns0:CodeMethodInvokeExpression.Method>
														<ns0:CodeMethodReferenceExpression MethodName="CreatePromotionReward">
															<ns0:CodeMethodReferenceExpression.TargetObject>
																<ns0:CodeThisReferenceExpression />
															</ns0:CodeMethodReferenceExpression.TargetObject>
														</ns0:CodeMethodReferenceExpression>
													</ns0:CodeMethodInvokeExpression.Method>
												</ns0:CodeMethodInvokeExpression>
												<ns0:CodeMethodInvokeExpression>
													<ns0:CodeMethodInvokeExpression.Parameters>
														<ns0:CodePrimitiveExpression>
															<ns0:CodePrimitiveExpression.Value>
																<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$EntryYFilter</ns1:String>
															</ns0:CodePrimitiveExpression.Value>
														</ns0:CodePrimitiveExpression>
														<ns0:CodePrimitiveExpression>
															<ns0:CodePrimitiveExpression.Value>
																<ns1:Int32 xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$MaxYQuantity</ns1:Int32>
															</ns0:CodePrimitiveExpression.Value>
														</ns0:CodePrimitiveExpression>
													</ns0:CodeMethodInvokeExpression.Parameters>
													<ns0:CodeMethodInvokeExpression.Method>
														<ns0:CodeMethodReferenceExpression MethodName="CreatePromotionEntriesSetFromTarget">
															<ns0:CodeMethodReferenceExpression.TargetObject>
																<ns0:CodeThisReferenceExpression />
															</ns0:CodeMethodReferenceExpression.TargetObject>
														</ns0:CodeMethodReferenceExpression>
													</ns0:CodeMethodInvokeExpression.Method>
												</ns0:CodeMethodInvokeExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="AddPromotionItemRecord">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeExpressionStatement.Expression>
								</ns0:CodeExpressionStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
					</Rule.ThenActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodeBinaryOperatorExpression Operator="ValueEquality" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeBinaryOperatorExpression.Left>
										<ns0:CodePropertyReferenceExpression PropertyName="IsValid">
											<ns0:CodePropertyReferenceExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="ValidationResult">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodePropertyReferenceExpression.TargetObject>
										</ns0:CodePropertyReferenceExpression>
									</ns0:CodeBinaryOperatorExpression.Left>
									<ns0:CodeBinaryOperatorExpression.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeBinaryOperatorExpression.Right>
								</ns0:CodeBinaryOperatorExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
			</RuleSet.Rules>
		</RuleSet>
	</Expression>
</Promotion>