<Promotion sortorder="200">
  <Type>OrderCustomDiscount</Type>
  <Name>{MarketingStrings:Promotion_Entry_Custom_Name}</Name>
  <Description>
      {MarketingStrings:Promotion_Custom_Description}
  </Description>
  <Group>order</Group>
  <Path>EntryCustomDiscount/ConfigControl.ascx</Path>
  <Expression>
  </Expression>
</Promotion>
