<?xml version="1.0"?>
<Promotion sortorder="200">
  <Type>OrderVolumeDiscount</Type>
  <Name>Order Sub Total Volume Discount</Name>
  <Description>
    This type of promotion discounts the order subtotal if minimum order amount is met.
  </Description>
  <Group>order</Group>
  <Path>OrderVolumeDiscount/ConfigControl.ascx</Path>
  <Expression>
    <RuleSet Name="RuleSet0" Description="{p1:Null}" ChainingBehavior="None" xmlns:p1="http://schemas.microsoft.com/winfx/2006/xaml" xmlns="http://schemas.microsoft.com/winfx/2006/xaml/workflow">
      <RuleSet.Rules>
        <Rule Name="0" Description="{p1:Null}" ReevaluationBehavior="Never" Active="True" Priority="9999">
          <Rule.ThenActions>
            <RuleStatementAction>
              <RuleStatementAction.CodeDomStatement>
                <ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  <ns0:CodeAssignStatement.Right>
                    <ns0:CodePrimitiveExpression>
                      <ns0:CodePrimitiveExpression.Value>
                        <ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
                      </ns0:CodePrimitiveExpression.Value>
                    </ns0:CodePrimitiveExpression>
                  </ns0:CodeAssignStatement.Right>
                  <ns0:CodeAssignStatement.Left>
                    <ns0:CodePropertyReferenceExpression PropertyName="IsValid">
                      <ns0:CodePropertyReferenceExpression.TargetObject>
                        <ns0:CodePropertyReferenceExpression PropertyName="ValidationResult">
                          <ns0:CodePropertyReferenceExpression.TargetObject>
                            <ns0:CodeThisReferenceExpression />
                          </ns0:CodePropertyReferenceExpression.TargetObject>
                        </ns0:CodePropertyReferenceExpression>
                      </ns0:CodePropertyReferenceExpression.TargetObject>
                    </ns0:CodePropertyReferenceExpression>
                  </ns0:CodeAssignStatement.Left>
                </ns0:CodeAssignStatement>
              </RuleStatementAction.CodeDomStatement>
            </RuleStatementAction>
          </Rule.ThenActions>
          <Rule.Condition>
            <RuleExpressionCondition Name="{p1:Null}">
              <RuleExpressionCondition.Expression>
                <ns0:CodeBinaryOperatorExpression Operator="GreaterThanOrEqual" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  <ns0:CodeBinaryOperatorExpression.Right>
                    <ns0:CodeMethodInvokeExpression>
                      <ns0:CodeMethodInvokeExpression.Method>
                        <ns0:CodeMethodReferenceExpression MethodName="Parse">
                          <ns0:CodeMethodReferenceExpression.TargetObject>
                            <ns0:CodeTypeReferenceExpression Type="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                          </ns0:CodeMethodReferenceExpression.TargetObject>
                        </ns0:CodeMethodReferenceExpression>
                      </ns0:CodeMethodInvokeExpression.Method>
                      <ns0:CodeMethodInvokeExpression.Parameters>
                        <ns0:CodePrimitiveExpression>
                          <ns0:CodePrimitiveExpression.Value>
                            <ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$MinOrderAmount</ns1:String>
                          </ns0:CodePrimitiveExpression.Value>
                        </ns0:CodePrimitiveExpression>
                        <ns0:CodePropertyReferenceExpression PropertyName="InvariantCulture">
                          <ns0:CodePropertyReferenceExpression.TargetObject>
                            <ns0:CodeTypeReferenceExpression Type="System.Globalization.CultureInfo, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                          </ns0:CodePropertyReferenceExpression.TargetObject>
                        </ns0:CodePropertyReferenceExpression>
                      </ns0:CodeMethodInvokeExpression.Parameters>
                    </ns0:CodeMethodInvokeExpression>
                  </ns0:CodeBinaryOperatorExpression.Right>
                  <ns0:CodeBinaryOperatorExpression.Left>
                    <ns0:CodeCastExpression TargetType="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                      <ns0:CodeCastExpression.Expression>
                        <ns0:CodePropertyReferenceExpression PropertyName="RunningTotal">
                          <ns0:CodePropertyReferenceExpression.TargetObject>
                            <ns0:CodePropertyReferenceExpression PropertyName="PromotionResult">
                              <ns0:CodePropertyReferenceExpression.TargetObject>
                                <ns0:CodePropertyReferenceExpression PropertyName="PromotionContext">
                                  <ns0:CodePropertyReferenceExpression.TargetObject>
                                    <ns0:CodeThisReferenceExpression />
                                  </ns0:CodePropertyReferenceExpression.TargetObject>
                                </ns0:CodePropertyReferenceExpression>
                              </ns0:CodePropertyReferenceExpression.TargetObject>
                            </ns0:CodePropertyReferenceExpression>
                          </ns0:CodePropertyReferenceExpression.TargetObject>
                        </ns0:CodePropertyReferenceExpression>
                      </ns0:CodeCastExpression.Expression>
                    </ns0:CodeCastExpression>
                  </ns0:CodeBinaryOperatorExpression.Left>
                </ns0:CodeBinaryOperatorExpression>
              </RuleExpressionCondition.Expression>
            </RuleExpressionCondition>
          </Rule.Condition>
        </Rule>
        <Rule Name="14_action0" Description="{p1:Null}" ReevaluationBehavior="Never" Active="True" Priority="0">
          <Rule.ThenActions>
            <RuleStatementAction>
              <RuleStatementAction.CodeDomStatement>
                <ns0:CodeExpressionStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  <ns0:CodeExpressionStatement.Expression>
                    <ns0:CodeMethodInvokeExpression>
                      <ns0:CodeMethodInvokeExpression.Method>
                        <ns0:CodeMethodReferenceExpression MethodName="AddPromotionItemRecord">
                          <ns0:CodeMethodReferenceExpression.TargetObject>
                            <ns0:CodeThisReferenceExpression />
                          </ns0:CodeMethodReferenceExpression.TargetObject>
                        </ns0:CodeMethodReferenceExpression>
                      </ns0:CodeMethodInvokeExpression.Method>
                      <ns0:CodeMethodInvokeExpression.Parameters>
                        <ns0:CodeMethodInvokeExpression>
                          <ns0:CodeMethodInvokeExpression.Method>
                            <ns0:CodeMethodReferenceExpression MethodName="CreatePromotionReward">
                              <ns0:CodeMethodReferenceExpression.TargetObject>
                                <ns0:CodeThisReferenceExpression />
                              </ns0:CodeMethodReferenceExpression.TargetObject>
                            </ns0:CodeMethodReferenceExpression>
                          </ns0:CodeMethodInvokeExpression.Method>
                          <ns0:CodeMethodInvokeExpression.Parameters>
                            <ns0:CodePrimitiveExpression>
                              <ns0:CodePrimitiveExpression.Value>
                                <ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">WholeOrder</ns1:String>
                              </ns0:CodePrimitiveExpression.Value>
                            </ns0:CodePrimitiveExpression>
                            <ns0:CodeMethodInvokeExpression>
                              <ns0:CodeMethodInvokeExpression.Method>
                                <ns0:CodeMethodReferenceExpression MethodName="Parse">
                                  <ns0:CodeMethodReferenceExpression.TargetObject>
                                    <ns0:CodeTypeReferenceExpression Type="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                                  </ns0:CodeMethodReferenceExpression.TargetObject>
                                </ns0:CodeMethodReferenceExpression>
                              </ns0:CodeMethodInvokeExpression.Method>
                              <ns0:CodeMethodInvokeExpression.Parameters>
                                <ns0:CodePrimitiveExpression>
                                  <ns0:CodePrimitiveExpression.Value>
                                    <ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountOff</ns1:String>
                                  </ns0:CodePrimitiveExpression.Value>
                                </ns0:CodePrimitiveExpression>
                                <ns0:CodePropertyReferenceExpression PropertyName="InvariantCulture">
                                  <ns0:CodePropertyReferenceExpression.TargetObject>
                                    <ns0:CodeTypeReferenceExpression Type="System.Globalization.CultureInfo, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                                  </ns0:CodePropertyReferenceExpression.TargetObject>
                                </ns0:CodePropertyReferenceExpression>
                              </ns0:CodeMethodInvokeExpression.Parameters>
                            </ns0:CodeMethodInvokeExpression>
                            <ns0:CodePrimitiveExpression>
                              <ns0:CodePrimitiveExpression.Value>
                                <ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountType</ns1:String>
                              </ns0:CodePrimitiveExpression.Value>
                            </ns0:CodePrimitiveExpression>
                          </ns0:CodeMethodInvokeExpression.Parameters>
                        </ns0:CodeMethodInvokeExpression>
                        <ns0:CodePropertyReferenceExpression PropertyName="TargetEntriesSet">
                          <ns0:CodePropertyReferenceExpression.TargetObject>
                            <ns0:CodePropertyReferenceExpression PropertyName="PromotionContext">
                              <ns0:CodePropertyReferenceExpression.TargetObject>
                                <ns0:CodeThisReferenceExpression />
                              </ns0:CodePropertyReferenceExpression.TargetObject>
                            </ns0:CodePropertyReferenceExpression>
                          </ns0:CodePropertyReferenceExpression.TargetObject>
                        </ns0:CodePropertyReferenceExpression>
                      </ns0:CodeMethodInvokeExpression.Parameters>
                    </ns0:CodeMethodInvokeExpression>
                  </ns0:CodeExpressionStatement.Expression>
                </ns0:CodeExpressionStatement>
              </RuleStatementAction.CodeDomStatement>
            </RuleStatementAction>
          </Rule.ThenActions>
          <Rule.Condition>
            <RuleExpressionCondition Name="{p1:Null}">
              <RuleExpressionCondition.Expression>
                <ns0:CodeBinaryOperatorExpression Operator="ValueEquality" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  <ns0:CodeBinaryOperatorExpression.Right>
                    <ns0:CodePrimitiveExpression>
                      <ns0:CodePrimitiveExpression.Value>
                        <ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
                      </ns0:CodePrimitiveExpression.Value>
                    </ns0:CodePrimitiveExpression>
                  </ns0:CodeBinaryOperatorExpression.Right>
                  <ns0:CodeBinaryOperatorExpression.Left>
                    <ns0:CodePropertyReferenceExpression PropertyName="IsValid">
                      <ns0:CodePropertyReferenceExpression.TargetObject>
                        <ns0:CodePropertyReferenceExpression PropertyName="ValidationResult">
                          <ns0:CodePropertyReferenceExpression.TargetObject>
                            <ns0:CodeThisReferenceExpression />
                          </ns0:CodePropertyReferenceExpression.TargetObject>
                        </ns0:CodePropertyReferenceExpression>
                      </ns0:CodePropertyReferenceExpression.TargetObject>
                    </ns0:CodePropertyReferenceExpression>
                  </ns0:CodeBinaryOperatorExpression.Left>
                </ns0:CodeBinaryOperatorExpression>
              </RuleExpressionCondition.Expression>
            </RuleExpressionCondition>
          </Rule.Condition>
        </Rule>
      </RuleSet.Rules>
    </RuleSet>
  </Expression>
</Promotion>
