<?xml version="1.0"?>
<Promotion sortorder="100">
	<Type>BuyXGetYDiscounted</Type>
	<Name>{MarketingStrings:Promotion_Buy_X_Get_Y_At_Discount}</Name>
	<Description>
        {MarketingStrings:Promotion_Buy_X_Get_Y_At_Discount_Description}
    </Description>
	<Group>entry</Group>
	<Path>Paired/ConfigControl.ascx</Path>
	<Expression>
		<RuleSet Name="RuleSet0" ChainingBehavior="None" Description="{p1:Null}" xmlns:p1="http://schemas.microsoft.com/winfx/2006/xaml" xmlns="http://schemas.microsoft.com/winfx/2006/xaml/workflow">
			<RuleSet.Rules>
				<Rule Name="SetupConstants" ReevaluationBehavior="Never" Priority="3" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">EntryXFilter</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$EntryXFilter</ns1:String>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">EntryYFilter</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$EntryYFilter</ns1:String>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">TargetQuantity</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$TargetQuantity</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
												<ns0:CodePropertyReferenceExpression PropertyName="InvariantCulture">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Globalization.CultureInfo, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="Parse">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">SourceQuantity</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$SourceQuantity</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
												<ns0:CodePropertyReferenceExpression PropertyName="InvariantCulture">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Globalization.CultureInfo, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="Parse">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">RewardType</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$RewardType</ns1:String>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">AmountOff</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountOff</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
												<ns0:CodePropertyReferenceExpression PropertyName="InvariantCulture">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Globalization.CultureInfo, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="Parse">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodeTypeReferenceExpression Type="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodeIndexerExpression>
											<ns0:CodeIndexerExpression.Indices>
												<ns0:CodePrimitiveExpression>
													<ns0:CodePrimitiveExpression.Value>
														<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">AmountType</ns1:String>
													</ns0:CodePrimitiveExpression.Value>
												</ns0:CodePrimitiveExpression>
											</ns0:CodeIndexerExpression.Indices>
											<ns0:CodeIndexerExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodeIndexerExpression.TargetObject>
										</ns0:CodeIndexerExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">$AmountType</ns1:String>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
					</Rule.ThenActions>
					<Rule.ElseActions>
						<RuleHaltAction />
					</Rule.ElseActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodePrimitiveExpression xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodePrimitiveExpression.Value>
										<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
									</ns0:CodePrimitiveExpression.Value>
								</ns0:CodePrimitiveExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
				<Rule Name="CheckCart" ReevaluationBehavior="Never" Priority="2" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleHaltAction />
					</Rule.ThenActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodeBinaryOperatorExpression Operator="ValueEquality" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeBinaryOperatorExpression.Left>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodeCastExpression TargetType="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
													<ns0:CodeCastExpression.Expression>
														<ns0:CodeIndexerExpression>
															<ns0:CodeIndexerExpression.Indices>
																<ns0:CodePrimitiveExpression>
																	<ns0:CodePrimitiveExpression.Value>
																		<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">EntryXFilter</ns1:String>
																	</ns0:CodePrimitiveExpression.Value>
																</ns0:CodePrimitiveExpression>
															</ns0:CodeIndexerExpression.Indices>
															<ns0:CodeIndexerExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodeIndexerExpression.TargetObject>
														</ns0:CodeIndexerExpression>
													</ns0:CodeCastExpression.Expression>
												</ns0:CodeCastExpression>
												<ns0:CodeCastExpression TargetType="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
													<ns0:CodeCastExpression.Expression>
														<ns0:CodeIndexerExpression>
															<ns0:CodeIndexerExpression.Indices>
																<ns0:CodePrimitiveExpression>
																	<ns0:CodePrimitiveExpression.Value>
																		<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">SourceQuantity</ns1:String>
																	</ns0:CodePrimitiveExpression.Value>
																</ns0:CodePrimitiveExpression>
															</ns0:CodeIndexerExpression.Indices>
															<ns0:CodeIndexerExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodeIndexerExpression.TargetObject>
														</ns0:CodeIndexerExpression>
													</ns0:CodeCastExpression.Expression>
												</ns0:CodeCastExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="ContainsEntry">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodePropertyReferenceExpression PropertyName="SourceEntriesSet">
															<ns0:CodePropertyReferenceExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="PromotionContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodePropertyReferenceExpression.TargetObject>
														</ns0:CodePropertyReferenceExpression>
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeBinaryOperatorExpression.Left>
									<ns0:CodeBinaryOperatorExpression.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">false</ns1:Boolean>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeBinaryOperatorExpression.Right>
								</ns0:CodeBinaryOperatorExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
				<Rule Name="CheckTarget" ReevaluationBehavior="Never" Priority="1" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleHaltAction />
					</Rule.ThenActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodeBinaryOperatorExpression Operator="ValueEquality" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeBinaryOperatorExpression.Left>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodeCastExpression TargetType="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
													<ns0:CodeCastExpression.Expression>
														<ns0:CodeIndexerExpression>
															<ns0:CodeIndexerExpression.Indices>
																<ns0:CodePrimitiveExpression>
																	<ns0:CodePrimitiveExpression.Value>
																		<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">EntryYFilter</ns1:String>
																	</ns0:CodePrimitiveExpression.Value>
																</ns0:CodePrimitiveExpression>
															</ns0:CodeIndexerExpression.Indices>
															<ns0:CodeIndexerExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodeIndexerExpression.TargetObject>
														</ns0:CodeIndexerExpression>
													</ns0:CodeCastExpression.Expression>
												</ns0:CodeCastExpression>
												<ns0:CodeCastExpression TargetType="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
													<ns0:CodeCastExpression.Expression>
														<ns0:CodeIndexerExpression>
															<ns0:CodeIndexerExpression.Indices>
																<ns0:CodePrimitiveExpression>
																	<ns0:CodePrimitiveExpression.Value>
																		<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">TargetQuantity</ns1:String>
																	</ns0:CodePrimitiveExpression.Value>
																</ns0:CodePrimitiveExpression>
															</ns0:CodeIndexerExpression.Indices>
															<ns0:CodeIndexerExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodeIndexerExpression.TargetObject>
														</ns0:CodeIndexerExpression>
													</ns0:CodeCastExpression.Expression>
												</ns0:CodeCastExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="ContainsEntry">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodePropertyReferenceExpression PropertyName="TargetEntriesSet">
															<ns0:CodePropertyReferenceExpression.TargetObject>
																<ns0:CodePropertyReferenceExpression PropertyName="PromotionContext">
																	<ns0:CodePropertyReferenceExpression.TargetObject>
																		<ns0:CodeThisReferenceExpression />
																	</ns0:CodePropertyReferenceExpression.TargetObject>
																</ns0:CodePropertyReferenceExpression>
															</ns0:CodePropertyReferenceExpression.TargetObject>
														</ns0:CodePropertyReferenceExpression>
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeBinaryOperatorExpression.Left>
									<ns0:CodeBinaryOperatorExpression.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">false</ns1:Boolean>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeBinaryOperatorExpression.Right>
								</ns0:CodeBinaryOperatorExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
				<Rule Name="AssignReward" ReevaluationBehavior="Never" Priority="0" Description="{p1:Null}" Active="True">
					<Rule.ThenActions>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeExpressionStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeExpressionStatement.Expression>
										<ns0:CodeMethodInvokeExpression>
											<ns0:CodeMethodInvokeExpression.Parameters>
												<ns0:CodeObjectCreateExpression CreateType="Mediachase.Commerce.Marketing.Objects.PromotionReward, Mediachase.Commerce, Version=5.0.3209.38812, Culture=neutral, PublicKeyToken=null">
													<ns0:CodeObjectCreateExpression.Parameters>
														<ns0:CodeCastExpression TargetType="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
															<ns0:CodeCastExpression.Expression>
																<ns0:CodeIndexerExpression>
																	<ns0:CodeIndexerExpression.Indices>
																		<ns0:CodePrimitiveExpression>
																			<ns0:CodePrimitiveExpression.Value>
																				<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">RewardType</ns1:String>
																			</ns0:CodePrimitiveExpression.Value>
																		</ns0:CodePrimitiveExpression>
																	</ns0:CodeIndexerExpression.Indices>
																	<ns0:CodeIndexerExpression.TargetObject>
																		<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																			<ns0:CodePropertyReferenceExpression.TargetObject>
																				<ns0:CodeThisReferenceExpression />
																			</ns0:CodePropertyReferenceExpression.TargetObject>
																		</ns0:CodePropertyReferenceExpression>
																	</ns0:CodeIndexerExpression.TargetObject>
																</ns0:CodeIndexerExpression>
															</ns0:CodeCastExpression.Expression>
														</ns0:CodeCastExpression>
														<ns0:CodeCastExpression TargetType="System.Decimal, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
															<ns0:CodeCastExpression.Expression>
																<ns0:CodeIndexerExpression>
																	<ns0:CodeIndexerExpression.Indices>
																		<ns0:CodePrimitiveExpression>
																			<ns0:CodePrimitiveExpression.Value>
																				<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">AmountOff</ns1:String>
																			</ns0:CodePrimitiveExpression.Value>
																		</ns0:CodePrimitiveExpression>
																	</ns0:CodeIndexerExpression.Indices>
																	<ns0:CodeIndexerExpression.TargetObject>
																		<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																			<ns0:CodePropertyReferenceExpression.TargetObject>
																				<ns0:CodeThisReferenceExpression />
																			</ns0:CodePropertyReferenceExpression.TargetObject>
																		</ns0:CodePropertyReferenceExpression>
																	</ns0:CodeIndexerExpression.TargetObject>
																</ns0:CodeIndexerExpression>
															</ns0:CodeCastExpression.Expression>
														</ns0:CodeCastExpression>
														<ns0:CodeCastExpression TargetType="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
															<ns0:CodeCastExpression.Expression>
																<ns0:CodeIndexerExpression>
																	<ns0:CodeIndexerExpression.Indices>
																		<ns0:CodePrimitiveExpression>
																			<ns0:CodePrimitiveExpression.Value>
																				<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">AmountType</ns1:String>
																			</ns0:CodePrimitiveExpression.Value>
																		</ns0:CodePrimitiveExpression>
																	</ns0:CodeIndexerExpression.Indices>
																	<ns0:CodeIndexerExpression.TargetObject>
																		<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																			<ns0:CodePropertyReferenceExpression.TargetObject>
																				<ns0:CodeThisReferenceExpression />
																			</ns0:CodePropertyReferenceExpression.TargetObject>
																		</ns0:CodePropertyReferenceExpression>
																	</ns0:CodeIndexerExpression.TargetObject>
																</ns0:CodeIndexerExpression>
															</ns0:CodeCastExpression.Expression>
														</ns0:CodeCastExpression>
													</ns0:CodeObjectCreateExpression.Parameters>
												</ns0:CodeObjectCreateExpression>
												<ns0:CodeMethodInvokeExpression>
													<ns0:CodeMethodInvokeExpression.Parameters>
														<ns0:CodeCastExpression TargetType="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
															<ns0:CodeCastExpression.Expression>
																<ns0:CodeIndexerExpression>
																	<ns0:CodeIndexerExpression.Indices>
																		<ns0:CodePrimitiveExpression>
																			<ns0:CodePrimitiveExpression.Value>
																				<ns1:String xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">EntryYFilter</ns1:String>
																			</ns0:CodePrimitiveExpression.Value>
																		</ns0:CodePrimitiveExpression>
																	</ns0:CodeIndexerExpression.Indices>
																	<ns0:CodeIndexerExpression.TargetObject>
																		<ns0:CodePropertyReferenceExpression PropertyName="RuntimeContext">
																			<ns0:CodePropertyReferenceExpression.TargetObject>
																				<ns0:CodeThisReferenceExpression />
																			</ns0:CodePropertyReferenceExpression.TargetObject>
																		</ns0:CodePropertyReferenceExpression>
																	</ns0:CodeIndexerExpression.TargetObject>
																</ns0:CodeIndexerExpression>
															</ns0:CodeCastExpression.Expression>
														</ns0:CodeCastExpression>
													</ns0:CodeMethodInvokeExpression.Parameters>
													<ns0:CodeMethodInvokeExpression.Method>
														<ns0:CodeMethodReferenceExpression MethodName="CreatePromotionEntriesSetFromTarget">
															<ns0:CodeMethodReferenceExpression.TargetObject>
																<ns0:CodeThisReferenceExpression />
															</ns0:CodeMethodReferenceExpression.TargetObject>
														</ns0:CodeMethodReferenceExpression>
													</ns0:CodeMethodInvokeExpression.Method>
												</ns0:CodeMethodInvokeExpression>
											</ns0:CodeMethodInvokeExpression.Parameters>
											<ns0:CodeMethodInvokeExpression.Method>
												<ns0:CodeMethodReferenceExpression MethodName="AddPromotionItemRecord">
													<ns0:CodeMethodReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodeMethodReferenceExpression.TargetObject>
												</ns0:CodeMethodReferenceExpression>
											</ns0:CodeMethodInvokeExpression.Method>
										</ns0:CodeMethodInvokeExpression>
									</ns0:CodeExpressionStatement.Expression>
								</ns0:CodeExpressionStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
						<RuleStatementAction>
							<RuleStatementAction.CodeDomStatement>
								<ns0:CodeAssignStatement LinePragma="{p1:Null}" xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodeAssignStatement.Left>
										<ns0:CodePropertyReferenceExpression PropertyName="IsValid">
											<ns0:CodePropertyReferenceExpression.TargetObject>
												<ns0:CodePropertyReferenceExpression PropertyName="ValidationResult">
													<ns0:CodePropertyReferenceExpression.TargetObject>
														<ns0:CodeThisReferenceExpression />
													</ns0:CodePropertyReferenceExpression.TargetObject>
												</ns0:CodePropertyReferenceExpression>
											</ns0:CodePropertyReferenceExpression.TargetObject>
										</ns0:CodePropertyReferenceExpression>
									</ns0:CodeAssignStatement.Left>
									<ns0:CodeAssignStatement.Right>
										<ns0:CodePrimitiveExpression>
											<ns0:CodePrimitiveExpression.Value>
												<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
											</ns0:CodePrimitiveExpression.Value>
										</ns0:CodePrimitiveExpression>
									</ns0:CodeAssignStatement.Right>
								</ns0:CodeAssignStatement>
							</RuleStatementAction.CodeDomStatement>
						</RuleStatementAction>
					</Rule.ThenActions>
					<Rule.ElseActions>
						<RuleHaltAction />
					</Rule.ElseActions>
					<Rule.Condition>
						<RuleExpressionCondition Name="{p1:Null}">
							<RuleExpressionCondition.Expression>
								<ns0:CodePrimitiveExpression xmlns:ns0="clr-namespace:System.CodeDom;Assembly=System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
									<ns0:CodePrimitiveExpression.Value>
										<ns1:Boolean xmlns:ns1="clr-namespace:System;Assembly=mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">true</ns1:Boolean>
									</ns0:CodePrimitiveExpression.Value>
								</ns0:CodePrimitiveExpression>
							</RuleExpressionCondition.Expression>
						</RuleExpressionCondition>
					</Rule.Condition>
				</Rule>
			</RuleSet.Rules>
		</RuleSet>
	</Expression>
</Promotion>
