<?xml version="1.0"?>
<!--
	Setup storage providers:
	   providers can be setup based on path, mimeType, size and extension, for example
		  <add path="\root\text\*">
			<add extension="txt" mimeType="text/plain" maxSize="1Kb" storageProvider="SqlBlobStorageProvider" downloadProfile="iis"/>
			<add mimeType="image/*" maxSize="200Kb" storageProvider="DiskBlobStorageProvider" downloadProfile="iis"/>
		  </add>
-->
<folderElementLocations>
  <add path="\Root\Cloud\*">
    <add storageProvider="S3StorageProvider" downloadProfile="s3" />
  </add>
  <add path="\Root\Database\*">
    <add storageProvider="SqlBlobStorageProvider" downloadProfile="open" />
  </add>
  <add path="\*">
    <add storageProvider="PublicDiskBlobStorageProvider" downloadProfile="iis" />
  </add>
</folderElementLocations>