<?xml version="1.0"?>
<AssetManagement autoInstall="true">
  <Roles>
    <add name="AdminRole" value="Asset Admins" />
    <add name="ManagerRole" value="Asset Managers" />
    <add name="SchemaManagerRole" value="Asset Schema Managers" />
    <add name="ViewerRole" value="Asset Viewers" />
  </Roles>
  <!--
	Setup storage providers:
	   providers can be setup based on path, mimeType, size and extension, for example
		  <add path="\root\text\*">
			<add extension="txt" mimeType="text/plain" maxSize="1Kb" storageProvider="SqlBlobStorageProvider" downloadProfile="iis"/>
			<add mimeType="image/*" maxSize="200Kb" storageProvider="DiskBlobStorageProvider" downloadProfile="iis"/>
		  </add>
  -->
  <FolderProviders>
    <add path="\Root\Cloud\*">
      <add storageProvider="S3StorageProvider" downloadProfile="s3" />
    </add>
    <add path="\Root\Database\*">
      <add storageProvider="SqlBlobStorageProvider" downloadProfile="open" />
    </add>
    <add path="\*">
      <add storageProvider="PublicDiskBlobStorageProvider" downloadProfile="iis" />
    </add>
  </FolderProviders>
  <DownloadFilters>
    <add name="thumbnail" type="Mediachase.Commerce.Assets.DownloadFilterThumbnail, Mediachase.Commerce" />
  </DownloadFilters>
  <ElementTypes>
    <add mimeType="image/jpeg" type="Mediachase.Commerce.Assets.ImageFolderElementExtension, Mediachase.Commerce" />
  </ElementTypes>
</AssetManagement>