<?xml version="1.0" encoding="utf-8"?>
<Application defaultApplicationName="ECApplication">
  <Roles>
    <add name="AdminRole" value="Admins" />
    <add name="ManagerUserRole" value="Management Users" />
    <add name="EveryoneRole" value="Everyone" />
    <add name="RegisteredRole" value="Registered" />
  </Roles>
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" appTimeout="0:0:10" />
  <Languages>
    <add key="en-us" value="English" />
    <add key="da-DK" value="Danish" />
    <add key="sv-SE" value="Svenska" />
    <add key="fi-FI" value="Suomi" />
    <add key="nl-NL" value="Netherlands" />
    <add key="nb-NO" value="Norsk" />
    <add key="fr-FR" value="French" />
  </Languages>
</Application>
