<?xml version="1.0"?>
<ContentManagement>
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" pageDocumentTimeout="0:0:10" menuTimeout="0:1:0" workflowTimeout="0:1:0" templateTimeout="0:1:0" sitesCollectionTimeout="0:0:20" />
  <Roles>
    <add name="AdminRole" value="Cms Admins" />
    <add name="ManagerRole" value="Cms Managers" />
    <add name="EditorRole" value="Cms Editors" />
    <add name="ViewerRole" value="Cms Viewers" />
  </Roles>
</ContentManagement>