<SearchConfig version="1.0">
  <SearchFilters>
    <Filter field="brand">
      <Descriptions defaultLocale="en">
        <Description locale="en">Brand</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="Brand 0" value="Brand 0">
          <Descriptions defaultLocale="en">
            <Description locale="en">Brand 0</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="Brand 1" value="Brand 1">
          <Descriptions defaultLocale="en">
            <Description locale="en">Brand 1</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="Brand 2" value="Brand 2">
          <Descriptions defaultLocale="en">
            <Description locale="en">Brand 2</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="Brand 3" value="Brand 3">
          <Descriptions defaultLocale="en">
            <Description locale="en">Brand 3</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>
    <Filter field="color">
      <Descriptions defaultLocale="en">
        <Description locale="en">Color</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="black" value="black">
          <Descriptions defaultLocale="en">
            <Description locale="en">Black</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="white" value="white">
          <Descriptions defaultLocale="en">
            <Description locale="en">White</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="red" value="red">
          <Descriptions defaultLocale="en">
            <Description locale="en">Red</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="blue" value="blue">
          <Descriptions defaultLocale="en">
            <Description locale="en">Blue</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="multi" value="multi">
          <Descriptions defaultLocale="en">
            <Description locale="en">Multi</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="brown" value="brown">
          <Descriptions defaultLocale="en">
            <Description locale="en">Brown</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="navy" value="navy">
          <Descriptions defaultLocale="en">
            <Description locale="en">Navy</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="yellow" value="yellow">
          <Descriptions defaultLocale="en">
            <Description locale="en">Yellow</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="green" value="green">
          <Descriptions defaultLocale="en">
            <Description locale="en">Green</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>
    <Filter field="size">
      <Descriptions defaultLocale="en">
        <Description locale="en">Size</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="s" value="s">
          <Descriptions defaultLocale="en">
            <Description locale="en">S</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="m" value="m">
          <Descriptions defaultLocale="en">
            <Description locale="en">M</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="l" value="l">
          <Descriptions defaultLocale="en">
            <Description locale="en">L</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>
    <Filter field="top_category_name">
      <Descriptions defaultLocale="en">
        <Description locale="en">Top category</Description>
      </Descriptions>
      <Values>
        <SimpleValue key="Mens" value="Mens">
          <Descriptions defaultLocale="en">
            <Description locale="en">Mens</Description>
          </Descriptions>
        </SimpleValue>
        <SimpleValue key="Womens" value="Womens">
          <Descriptions defaultLocale="en">
            <Description locale="en">Womens</Description>
          </Descriptions>
        </SimpleValue>
      </Values>
    </Filter>
  </SearchFilters>
</SearchConfig>