<?xml version="1.0" encoding="utf-8"?>
<Mediachase.Search>
  <SearchProviders defaultProvider="LuceneSearchProvider">
    <providers>
      <!-- ChangeThis - Consider changing storage attribute to a different absolute path. Make sure it is writable by the user
      running IIS express, or the application pool if using IIS. Use the same path for the Indexers basepath attribute and for
      both the front end and the commerce manager site -->
      <add name="LuceneSearchProvider"
        type="Mediachase.Search.Providers.Lucene.LuceneSearchProvider, Mediachase.Search.LuceneSearchProvider"
           queryBuilderType="Mediachase.Search.Providers.Lucene.LuceneSearchQueryBuilder, Mediachase.Search.LuceneSearchProvider"
        storage="[appDataPath]\Quicksilver\SearchIndex" simulateFaceting="true"/>
    </providers>
  </SearchProviders>
  <Indexers basePath="[appDataPath]\Quicksilver\SearchIndex">
    <add name="catalog" type="EPiServer.Reference.Commerce.Shared.CatalogIndexer.RestIndexer, EPiServer.Reference.Commerce.Shared"/>
  </Indexers>
</Mediachase.Search>