
@model EPiServer.Reference.Commerce.Site.Features.ErrorHandling.ViewModels.ErrorViewModel

<h1 @Html.EditAttributes(x => x.CurrentPage.Title)>
    @(Model.CurrentPage.Title ?? Model.CurrentPage.PageName)
</h1>

<div>
    @Html.PropertyFor(model => model.CurrentPage.MainBody)
</div>

