@{
    ViewBag.Title = "PageNotFound";
}

<h2>Page Not Found</h2>
<div class="alert alert-info">
    <p><strong>Whoops...</strong></p>
    <p>The resource you were looking for doesn't exist</p>
</div>