@model EPiServer.Reference.Commerce.Site.Features.Shared.Models.Address

<address>
    <p>
        @{
            string[] addressValues = null;

            switch (Model.CountryCode)
            {
                case "AUS":
                case "CAN":
                case "USA":
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.City + " " + Model.PostalCode, Model.Region, Model.CountryName };                    
                    break;

                case "GBR":
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.City, Model.Region, Model.PostalCode, Model.CountryName };
                    break;
                    
                default:
                    addressValues = new string[] { Model.Organization, Model.FirstName + " " + Model.LastName, Model.Email, Model.Line1, Model.Line2, Model.PostalCode + " " + Model.City, Model.Region, Model.CountryName };
                    break;
            }
            
            foreach (string value in addressValues)
            {
                if (!string.IsNullOrEmpty(value))
                {
                   <span>@value</span><br />
                }
            }
        }

    </p>
</address>