@model EPiServer.Reference.Commerce.Site.Features.Shared.Models.AddressModelBase

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = Model is EPiServer.Reference.Commerce.Site.Features.Checkout.Models.AddressFormModel ?  "formModel.AddressFormModel" : null;
}

<div id="AddressRegion" class="form-group">
    @Html.LabelFor(formModel => formModel.Region)
    @if (Model.RegionOptions.Any())
    {
        @Html.DropDownListFor(formModel => formModel.Region, new SelectList(Model.RegionOptions, "Name", "Name", Model.Region), new { @class = "form-control address-region" });
    }
    else
    {
        @Html.TextBoxFor(formModel => formModel.Region, new { @class = "form-control address-region" })
    }
    @Html.ValidationMessageFor(formModel => formModel.Region)
</div>

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = null;
}