@model EPiServer.Reference.Commerce.Site.Features.Payment.PaymentMethods.CashOnDeliveryPaymentOption

@Html.HiddenFor(model => model.PaymentMethodId)

<div class="alert alert-info">
   @Html.Translate("/Checkout/Payment/Methods/CashOnDelivery/Description")
</div>