@model EPiServer.Reference.Commerce.Site.Features.Payment.ViewModels.CashOnDeliveryViewModel 

@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)

<div class="alert alert-info">
   @Html.Translate("/Checkout/Payment/Methods/CashOnDelivery/Description")
</div>