<?xml version="1.0"?>
<Configuration version="5.0">
	<Views>
		<!---<View MetaClass="CustomPage" id="List" name="{Common:CustomPages}" controlUrl="Customization/Modules/CustomPages.ascx"></View>-->
    <View id="LeftMenuItem-List" name="{Common:LeftMenu}" controlUrl="Customization/Modules/LeftMenuItems.ascx">
      <Columns>
        <Column Width="40" AllowSorting="false" DataField="FullId" HeadingText="" ColumnType="CustomTemplate">
          <Template id="ItemActionsTemplate" ControlUrl="GridTemplates/LeftMenuItemActionsTemplate.ascx" />
        </Column>
        <Column Visible="false" Width="100" DataField="FullId" HeadingText="FillId"></Column>
        <Column Width="400" AllowSorting="true" DataField="Title" HeadingText="{Common:Title}"></Column>
        <Column Width="100" AllowSorting="true" DataField="Order" HeadingText="{Common:Order}"></Column>
      </Columns>
    </View>
	</Views>
</Configuration>