<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="site-name" value="dev1.traffee.com"/>
    <add key="protocol" value="http"/>
    <add key="binding-information" value="*:80"/>
    <add key="physical-path" value="C:\inetpub\wwwroot\traffee"/>
    <add key="node-version" value="10.16.2"/>
    <add key="node-update" value="1"/>
    <add key="root" value="Quicksilver"/>
  </appSettings>
</configuration>