@model dynamic
@{
    Layout = null;
}
<div>
    <h3>@Html.Translate("/Registration/OrderConfirmation/OrderAddedHeading")</h3>
    <span>@Html.Translate("/Registration/OrderConfirmation/OrderAdded")</span>
</div>