<?xml version="1.0"?>
<Configuration version="5.0">
	<Acl>
		<Group id="campaigns" text="{SharedStrings:Campaigns}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="promotions" text="{SharedStrings:Promotions}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="segments" text="{SharedStrings:Customer_Segments}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="policies" text="{SharedStrings:Policies}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="expr" text="{SharedStrings:Expressions}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
	</Acl>
</Configuration>