<?xml version="1.0"?>
<Configuration version="5.0">
<Settings>
	<Setting name="HelpPrefix" value=""/>
</Settings>

	<Acl>
		<Group id="site" text="{SharedStrings:Sites}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				<Permission id="import" text="{SharedStrings:Import}"></Permission>
				<Permission id="export" text="{SharedStrings:Export}"></Permission>
			</Group>
			<Group id="nav" text="{SharedStrings:Folders_And_Pages}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="design" text="{SharedStrings:Design}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="menu" text="{SharedStrings:Menus}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="workflow" text="{SharedStrings:Workflow}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="templates" text="{SharedStrings:Templates}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
	</Acl>

	<Settings>
		<Setting name="HelpPrefix" value="mgmtcontent"/>
	</Settings>

	<Views>
		<!-- Folder Screens -->
		<View id="Folder-List" name="{SharedStrings:Folders_List}" controlUrl="Content/Folders/FolderList.ascx" permissions="content:site:nav:mng:view" help="Folders+and+Pages">
			<Columns>
				<Column ColumnType="CheckBox" CheckboxEnableField="CheckboxEnabled" />
				<Column Width="40" HeadingText="" ColumnType="Action" DataField="PageId">
          <Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridFolderEdit" CommandParameters="PageId,IsFolder,SiteId" ToolTip="Edit"  permissions="content:site:nav:mng:edit" />
				  <Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridFolderDelete" CommandParameters="PageId" ToolTip="Delete" permissions="content:site:nav:mng:delete" />
				</Column>
				<Column Visible="false" Width="30" AllowSorting="false" DataField="PageId" HeadingText="{SharedStrings:ID}"></Column>
				<Column Visible="true" Width="300" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}" ColumnType="CustomTemplate">
					<Template id="FolderLinkTemplate" ControlUrl="Folders/GridTemplates/FolderHyperlinkTemplate.ascx" permissions="content:site:nav:mng:edit"/>
				</Column>
				<Column Visible="true" Width="200" AllowSorting="false" HeadingText="{SharedStrings:Languages}" ColumnType="CustomTemplate" permissions="content:site:nav:mng:edit">
					<Template id="LanguageTemplate" ControlUrl="Folders/GridTemplates/LanguageTemplate.ascx" permissions="content:site:nav:mng:design" ></Template>
				</Column>
			</Columns>
		</View>

		<View id="Folder-Move" name="{SharedStrings:Move_To_Folder}" controlUrl="Content/Folders/FolderMoveControl.ascx"  permissions="content:site:nav:mng:edit" help="Folders+and+Pages"></View>

		<!-- Folder Edit Screens -->
		<View id="Page-Edit" name="{ContentStrings:Folder_Page_Edit}" controlUrl="Content/Folders/PageEdit.ascx"  permissions="content:site:nav:mng:edit" help="Creating+Pages">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Folders/Tabs/PageEditTab.ascx"></Tab>
			</Tabs>
		</View>

    <!--<View id="File-New" name="{SharedStrings:Add_New}" controlUrl="Content/Folders/FolderPageNew.ascx" permissions="content:site:nav:mng:create">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Folders/Tabs/FolderPageNewTab.ascx"></Tab>
			</Tabs>
    </View-->
    <View id="Folder-Edit" name="{ContentStrings:Folder_Page_Edit}" controlUrl="Content/Folders/FolderEdit.ascx" permissions="content:site:nav:mng:edit" help="Creating+Folders">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Folders/Tabs/FolderEditTab.ascx"></Tab>
      </Tabs>
		</View>

		<View id="PageCmd-List" name="{SharedStrings:Command_List}" controlUrl="Content/Folders/CommandList.ascx">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column Visible="false" Width="30" DataField="Id" HeadingText="{SharedStrings:ID}"></Column>
				<Column Width="40" HeadingText="" ColumnType="Action" DataField="Id">
					<Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridPageCmdEdit" CommandParameters="Id,UrlUID" ToolTip="Edit"></Item>
					<Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridPageCmdDelete" CommandParameters="Id" ToolTip="Delete"></Item>
				</Column>
				<Column Width="350" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}"></Column>
				<Column Width="300" AllowSorting="false" DataField="Params" HeadingText="{SharedStrings:Params}"></Column>
			</Columns>
		</View>

		<View id="PageCmd-Edit" name="{SharedStrings:Edit_Command}" controlUrl="Content/Folders/CommandEdit.ascx">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Folders/Tabs/CommandEditTab.ascx"></Tab>
			</Tabs>
		</View>
		<!-- /Folder Screens -->

		<!-- Menu Screens -->
		<View id="Menu-List" name="{SharedStrings:Menu_List}" controlUrl="Content/Menu/MenuList.ascx" permissions="content:site:menu:mng:view" help="Menus">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Visible="false" Width="30" AllowSorting="false" DataField="MenuId" HeadingText="{SharedStrings:MenuID}"></Column>
				<Column Visible="false" Width="30" AllowSorting="false" DataField="SiteId" HeadingText="{SharedStrings:SiteID}"></Column>
				<Column Visible="false" Width="30" AllowSorting="false" DataField="MenuItemId" HeadingText="{SharedStrings:MenuItemID}"></Column>
				<Column HeadingText="{SharedStrings:Name}" id="Name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="MenuId,SiteId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Content', 'Menu-Edit','menuid={0}&amp;siteid={1}');" DataTextFields="Text" DataTextFormatString="{0}" permissions="content:site:menu:mng:edit" />
				<Column Visible="false" AllowSorting="false" DataField="Text" HeadingText="{SharedStrings:Name}"></Column>
			</Columns>
		</View>

		<View id="Menu-Edit" name="{SharedStrings:Menu_Edit}" controlUrl="Content/Menu/MenuEdit.ascx" permissions="content:site:menu:mng:edit" help="Creating+Menus+and+Adding+Menu+Items">
			<Tabs>
				<Tab Name="{SharedStrings:Menu_Overview}" ControlUrl="Content/Menu/Tabs/OverviewEditMenuTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="MenuItem-List" name="{SharedStrings:Menu_Item_List}" controlUrl="Content/Menu/MenuList.ascx" permissions="content:site:menu:mng:view" help="Menus">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
        <Column Width="40" DataField="MenuItemId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridMenuItemEdit" CommandParameters="MenuItemId,IsDirectory" ToolTip="Edit" permissions="content:site:mng:edit" />
          <Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridMenuItemDelete" CommandParameters="MenuItemId" ToolTip="Delete" permissions="content:site:mng:delete" />
        </Column>
				<Column HeadingText="{SharedStrings:Name}" id="Name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="MenuItemId,IsDirectory" DataNavigateUrlFormatString="javascript:CSContentClient.EditMenuItem({0}, '{1}');" DataTextFields="Text" DataTextFormatString="{0}" permissions="content:site:menu:mng:edit"></Column>
        <Column Visible="false" Width="60" AllowSorting="false" DataField="Order" HeadingText="{SharedStrings:SortOrder}"></Column>
				<Column Width="60" AllowSorting="false" DataField="IsVisible" HeadingText="{SharedStrings:Active}"></Column>
			</Columns>
		</View>

		<View id="MenuItem-Edit" name="{SharedStrings:Menu_Item_Edit}" controlUrl="Content/Menu/MenuItemEdit.ascx" permissions="content:site:menu:mng:edit" help="Creating+Menus+and+Adding+Menu+Items">
			<Tabs>
				<Tab Name="{SharedStrings:Menu_Overview}" ControlUrl="Content/Menu/Tabs/OverviewMenuItemEditTab.ascx"></Tab>
			</Tabs>
		</View>
		<!-- /Menu Screens -->

		<View id="Draft-List" name="{SharedStrings:Draft_List}" controlUrl="Content/MyWork/VersionList.ascx" permissions="content:admin:workflow:mng:view" help="Content+Publishing+and+Workflow">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column Visible="true" Width="400" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}" ColumnType="CustomTemplate">
					<Template id="FolderLinkTemplate" ControlUrl="MyWork/GridTemplates/PageTemplate2.ascx"></Template>
				</Column>
				<Column Width="50"  AllowSorting="true" DataField="VersionId" HeadingText="{SharedStrings:Version}"></Column>
				<Column Width="100" DataField="StatusId" HeadingText="{SharedStrings:Status}" ColumnType="CustomTemplate">
					<Template id="StatusWorkflowTemplate" ControlUrl="MyWork/GridTemplates/WorkflowStatusTemplate.ascx"></Template>
				</Column>
				<Column AllowSorting="true" DataField="Comment" HeadingText="{SharedStrings:Comment}"></Column>
				<Column Width="120" HeadingText="{SharedStrings:Editor}" DataField="EditorUID" ColumnType="CustomTemplate">
					<Template id="UserTemplate" ControlUrl="MyWork/GridTemplates/UserTemplate2.ascx"></Template>
				</Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Edited" HeadingText="{SharedStrings:Edit_Date}"></Column>
			</Columns>
		</View>

		<View id="Reject-List" name="{SharedStrings:Rejected_List}" controlUrl="Content/MyWork/VersionList.ascx" permissions="content:admin:workflow:mng:view" help="Content+Publishing+and+Workflow">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column Visible="true" Width="400" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}" ColumnType="CustomTemplate">
					<Template id="FolderLinkTemplate" ControlUrl="MyWork/GridTemplates/PageTemplate2.ascx"></Template>
				</Column>
				<Column Width="50"  AllowSorting="true" DataField="VersionId" HeadingText="{SharedStrings:Version}"></Column>
				<Column Width="100" DataField="StatusId" HeadingText="{SharedStrings:Status}" ColumnType="CustomTemplate">
					<Template id="StatusWorkflowTemplate" ControlUrl="MyWork/GridTemplates/WorkflowStatusTemplate.ascx"></Template>
				</Column>
				<Column AllowSorting="true" DataField="Comment" HeadingText="{SharedStrings:Comment}"></Column>
				<Column Width="120" HeadingText="{SharedStrings:Editor}" DataField="EditorUID" ColumnType="CustomTemplate">
					<Template id="UserTemplate" ControlUrl="MyWork/GridTemplates/UserTemplate2.ascx"></Template>
				</Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Edited" HeadingText="{SharedStrings:Edit_Date}"></Column>
			</Columns>
		</View>

		<View id="Approve-List" name="{SharedStrings:Waiting_Approval_List}" controlUrl="Content/MyWork/VersionList.ascx" permissions="content:admin:workflow:mng:view" help="Content+Publishing+and+Workflow" >
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"/>
				<Column Visible="true" Width="400" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}" ColumnType="CustomTemplate">
					<Template id="FolderLinkTemplate" ControlUrl="MyWork/GridTemplates/PageTemplate2.ascx"></Template>
				</Column>
				<Column Width="50"  AllowSorting="true" DataField="VersionId" HeadingText="{SharedStrings:Version}"></Column>
				<Column Width="100" DataField="StatusId" HeadingText="{SharedStrings:Status}" ColumnType="CustomTemplate">
					<Template id="StatusWorkflowTemplate" ControlUrl="MyWork/GridTemplates/WorkflowStatusTemplate.ascx"></Template>
				</Column>
				<Column AllowSorting="true" DataField="Comment" HeadingText="{SharedStrings:Comment}"></Column>
				<Column Width="120" HeadingText="{SharedStrings:Editor}" DataField="EditorUID" ColumnType="CustomTemplate">
					<Template id="UserTemplate" ControlUrl="MyWork/GridTemplates/UserTemplate2.ascx"></Template>
				</Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Edited" HeadingText="{SharedStrings:Edit_Date}"></Column>
			</Columns>
		</View>
		<!-- /MyWork Screens -->

		<!-- Site Screens -->
		<View id="Site-List" name="{SharedStrings:Site_List}" controlUrl="Content/Site/SiteList.ascx" permissions="content:site:mng:view" help="Content+Management">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
        <Column Width="40" HeadingText="" ColumnType="Action" DataField="SiteId">
          <Item ImageUrl="~/Apps/Shell/styles/images/toolbar/copy.gif" CommandName="cmdContentGridSiteCopy" CommandParameters="SiteId" ToolTip="Copy"  permissions="content:site:mng:edit" />
          <Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/export.png" CommandName="cmdContentGridSiteExport" CommandParameters="SiteId,Name" ToolTip="Export" permissions="content:site:mng:export" />
        </Column>
				<Column Visible="false" Width="30" AllowSorting="true" DataField="SiteId" HeadingText="{SharedStrings:SiteId}"></Column>
				<Column Visible="false" Width="30" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}"></Column>
				<Column HeadingText="{SharedStrings:Name}" id="name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="SiteId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Content', 'Site-Edit','siteid={0}');" DataTextFields="Name" DataTextFormatString="{0}"></Column>
				<Column HeadingText="{SharedStrings:Active}" id="active" DataField="IsActive"></Column>
				<Column HeadingText="{SharedStrings:Folder}" id="folder" width="200" DataField="Folder"></Column>
				<Column HeadingText="{SharedStrings:Default_Site}" id="isdefault" width="200" DataField="IsDefault"></Column>
			</Columns>
		</View>

		<View id="Site-Edit" name="{ContentStrings:Site_Edit}" controlUrl="Content/Site/SiteEdit.ascx" permissions="content:site:mng:edit" help="Content+Management">
			<Tabs>
				<Tab Name="{SharedStrings:Site_Overview}" ControlUrl="Content/Site/Tabs/SiteEditTab.ascx"></Tab>
				<Tab Name="{SharedStrings:Additional_Settings}" ControlUrl="Content/Site/Tabs/SiteSettingsTab.ascx"></Tab>
			</Tabs>
      <!-- ComponentArt Grid -->
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <Column IsDefault="false" Visible="false" Width="50" AllowSorting="true" DataField="GlobalVariableId" HeadingText="{SharedStrings:ID}"></Column>
        <Column IsDefault="true" Width="200" AllowEditing="false" AllowSorting="true" DataField="KEY" HeadingText="{SharedStrings:Key}"></Column>
        <Column IsDefault="true" Width="400" AllowSorting="true" DataField="VALUE" HeadingText="{SharedStrings:Value}"></Column>
			</Columns>
		</View>

		<!-- Administration Screens -->
		<View id="Templates-List" name="{SharedStrings:Templates_List}" controlUrl="Content/Template/TemplateList.ascx" permissions="content:admin:templates:mng:view">
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Visible="false" Width="50" AllowSorting="true" DataField="TemplateId" HeadingText="{SharedStrings:ID}"></Column>
				<Column Width="200" AllowSorting="true" DataField="FriendlyName" HeadingText="{SharedStrings:Name}" id="name" ColumnType="HyperLink" DataNavigateUrlFields="TemplateId,LanguageCode" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Content', 'Template-Edit', 'templateid={0}&amp;lang={1}');" DataTextFields="FriendlyName" DataTextFormatString="{0}" permissions="content:admin:templates:mng:edit"></Column>
				<Column Width="150" AllowSorting="true" DataField="TemplateType" HeadingText="{SharedStrings:Type}"></Column>
				<Column Width="400" AllowSorting="true" DataField="Path" HeadingText="{SharedStrings:Path}"></Column>
			</Columns>
		</View>

		<View id="Template-Edit" name="{SharedStrings:Template_Edit}" controlUrl="Content/Template/TemplateEdit.ascx" permissions="content:templates:mng:edit">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Template/Tabs/TemplateEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Workflow-List" name="{SharedStrings:Workflow_List}" controlUrl="Content/Workflow/WorkflowList.ascx" permissions="content:admin:workflow:mng:view" help="Content+Publishing+and+Workflow">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Visible="false" Width="30" DataField="WorkflowId" HeadingText="{SharedStrings:WorkflowId}"></Column>
				<Column Width="60" DataField="WorkflowId" HeadingText="" ColumnType="Action">
					<Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridWorkflowEdit" CommandParameters="WorkflowId" ToolTip="Edit" permissions="content:admin:workflow:mng:edit"></Item>
					<Item ImageUrl="~/Apps/Content/Images/Workflow.gif" CommandName="cmdContentGridWorkflowStateList" CommandParameters="WorkflowId" ToolTip="View Workflow States" permissions="content:admin:workflow:mng:edit"></Item>
					<Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridWorkflowDelete" CommandParameters="WorkflowId" ToolTip="Delete" permissions="content:admin:workflow:mng:delete"></Item>
				</Column>
				<Column HeadingText="{SharedStrings:Name}" id="Name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="WorkflowId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Content', 'Workflow-Edit','workflowid={0}');" DataTextFields="FriendlyName" DataTextFormatString="{0}" permissions="content:admin:workflow:mng:edit"></Column>
				<Column HeadingText="{SharedStrings:IsDefault}" DataField="IsDefault"></Column>
			</Columns>
		</View>

		<View id="Workflow-Edit" name="{SharedStrings:Workflow_Edit}" controlUrl="Content/Workflow/WorkflowEdit.ascx" permissions="content:templates:mng:edit" help="Content+Publishing+and+Workflow">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Workflow/Tabs/WorkflowEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="State-List" name="{SharedStrings:State_List}" controlUrl="Content/Workflow/StateList.ascx" permissions="content:admin:workflow:mng:view" help="Content+Publishing+and+Workflow">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Visible="false" Width="30" DataField="StatusId" HeadingText="{SharedStrings:StatusId}"></Column>
				<Column Width="40" DataField="StatusId" HeadingText="" ColumnType="Action">
					<Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridWorkflowStateEdit" CommandParameters="StatusId,WorkflowId" ToolTip="Edit" permissions="content:admin:workflow:mng:edit" />
					<Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridWorkflowStateDelete" CommandParameters="StatusId" ToolTip="Delete" permissions="content:admin:workflow:mng:delete" />
				</Column>
				<Column Width="50" AllowSorting="true" DataField="Weight" HeadingText="{SharedStrings:Order}"></Column>
				<Column HeadingText="{SharedStrings:Name}" id="Name" Width="400" ColumnType="HyperLink" DataNavigateUrlFields="WorkflowId,StatusId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Content', 'State-Edit','workflowid={0}&amp;statusid={1}');" DataTextFields="FriendlyName" DataTextFormatString="{0}" permissions="content:admin:workflow:mng:edit"></Column>
			</Columns>
		</View>

		<View id="State-Edit" name="{SharedStrings:Workflow_State_Edit}" controlUrl="Content/Workflow/StateEdit.ascx" permissions="content:admin:workflow:mng:edit" help="Content+Publishing+and+Workflow">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Workflow/Tabs/StateEditTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Permissions" name="{SharedStrings:Site_Permissions}" controlUrl="">
			<Columns>
				<Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
				<Column IsDefault="true" Width="30"  Visible="false" AllowEditing="false" IsSearchable="true" AllowSorting="true" DataField="SecurityKey" HeadingText="{SharedStrings:SecurityKey}"></Column>
				<Column IsDefault="true" Width="30"  Visible="false" AllowEditing="false" IsSearchable="true" AllowSorting="true" DataField="Scope" HeadingText=""></Column>
				<Column IsDefault="true" Width="200"  Visible="true" AllowEditing="false" IsSearchable="true" AllowSorting="true" DataField="ScopeName" HeadingText="{SharedStrings:Scope}"></Column>
				<Column IsDefault="true" Visible="false" IsSearchable="true" AllowEditing="false" AllowSorting="true" DataField="SID" HeadingText=""></Column>
				<Column IsDefault="true" Width="200"  Visible="true" AllowEditing="false" IsSearchable="true" AllowSorting="true" DataField="SidName" HeadingText="{SharedStrings:Identity}"></Column>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:View}" DataField="View"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Read}" DataField="Read"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Edit}" DataField="Edit"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Create}" DataField="Create"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Delete}" DataField="Delete"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Export}" DataField="Export"/>
				<Column IsDefault="true" Width="70" Align="Center" DataCellClientTemplateId="CheckboxTemplate" DataType="System.Boolean" ColumnType="CheckBox" AllowEditing="True" HeadingText="{SharedStrings:Admin}" DataField="Admin"/>
			</Columns>
		</View>

		<View id="Site-Export" name="{SharedStrings:Export_Site}" controlUrl="Content/Site/SiteExport.ascx" permissions="content:site:mng:export" help="Content+Publishing+and+Workflow">
			<Tabs>
				<Tab Name="{SharedStrings:Export}" ControlUrl="Content/Site/Tabs/SiteExportTab.ascx"></Tab>
			</Tabs>
		</View>

		<View id="Site-Import" name="{SharedStrings:Import_Site}" controlUrl="Content/Site/SiteImport.ascx" permissions="content:site:mng:import" help="Content+Publishing+and+Workflow">
			<Tabs>
				<Tab Name="{SharedStrings:Import}" ControlUrl="Content/Site/Tabs/SiteImportTab.ascx"></Tab>
			</Tabs>
		</View>

    <!-- ComponentArt Grid -->
		<View id="FilesList-Export" name="{SharedStrings:Export_Site}" controlUrl="Core/Controls/FileListControl.ascx" permissions="content:site:mng:export" help="import_export_site">
			<Columns>
				<Column IsDefault="true" Width="150" IsSearchable="true" DataField="" HeadingText="{SharedStrings:Actions}" DataCellServerTemplateId="LinkButtonsTemplate">
					<Template id="LinkButtonsTemplate" FilePathArgument="FullName" ControlUrl="~/Apps/Core/Controls/GridTemplates/FileListEditTemplate.ascx"></Template>
				</Column>
				<Column Visible="true" Width="1" IsSearchable="true" AllowEditing="false" AllowSorting="false" DataField="FullName" HeadingText="{SharedStrings:Path}"></Column>
				<Column IsDefault="true" Visible="true" Width="250" IsSearchable="true" AllowEditing="false" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:File_Name}"></Column>
				<Column DataCellServerTemplateId="FileSizeTemplate" Width="100" IsSearchable="true" AllowSorting="true" DataField="Length" HeadingText="{SharedStrings:Size}">
					<Template id="FileSizeTemplate" FileSizeArgument="Length" ControlUrl="~/Apps/Core/Controls/GridTemplates/FileSizeTemplate.ascx"></Template>
				</Column>
        <Column DataCellServerTemplateId="DateTimeTemplate" IsSearchable="false" Width="150" AllowSorting="true" DataField="CreationTime" HeadingText="{SharedStrings:Created}">
          <Template id="DateTimeTemplate" DateArgument="CreationTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate2" IsSearchable="false" Width="150" AllowSorting="true" DataField="LastWriteTime" HeadingText="{SharedStrings:Last_Updated}">
          <Template id="DateTimeTemplate2" DateArgument="LastWriteTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
      </Columns>
		</View>

    <!-- ComponentArt Grid -->
    <View id="FilesList-Import" name="{SharedStrings:Import_Site}" controlUrl="Core/Controls/FileListControl.ascx">
      <Columns>
        <Column Visible="true" Width="1" AllowEditing="false" AllowSorting="false" DataField="FullName" HeadingText="{SharedStrings:Path}"></Column>
        <Column Visible="true" Width="400" IsSearchable="true" AllowEditing="false" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:File_Name}"></Column>
        <Column DataCellServerTemplateId="FileSizeTemplate" Width="70" IsSearchable="true" AllowSorting="true" DataField="Length" HeadingText="{SharedStrings:Size}">
          <Template id="FileSizeTemplate" FileSizeArgument="Length" ControlUrl="~/Apps/Core/Controls/GridTemplates/FileSizeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate" IsSearchable="false" Width="150" AllowSorting="true" DataField="CreationTime" HeadingText="{SharedStrings:Created}">
          <Template id="DateTimeTemplate" DateArgument="CreationTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate2" IsSearchable="false" Width="150" AllowSorting="true" DataField="LastWriteTime" HeadingText="{SharedStrings:Last_Updated}">
          <Template id="DateTimeTemplate2" DateArgument="LastWriteTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
      </Columns>
    </View>

    <View id="SiteImportConfirm" name="{SharedStrings:Import_Site}" controlUrl="Content/Site/Tabs/SiteImportConfirmTab.ascx"></View>
    
    <!-- BEGIN: Dictionaries -->
    <View id="Languages-List" name="{SharedStrings:Languages}" controlUrl="Content/Dictionaries/LanguageList.ascx" permissions="content:site:mng:view" help="Adding+New+Languages">
      <!-- Columns map columns to grid column which will be automatically created -->
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="LangId" HeadingText=""></Column>
        <Column Width="40" DataField="LangId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/Apps/Shell/styles/Images/edit.gif" CommandName="cmdContentGridLanguageEdit" CommandParameters="LangId" ToolTip="Edit" permissions="content:site:mng:edit" />
          <Item ImageUrl="~/Apps/Shell/styles/Images/toolbar/delete.gif" CommandName="cmdContentGridLanguageDelete" CommandParameters="LangId" ToolTip="Delete" permissions="content:site:mng:delete" />
        </Column>
        <Column Width="60" AllowSorting="true" DataField="LangName" HeadingText="{ContentStrings:Language_Code}"></Column>
        <Column Width="200" AllowSorting="true" DataField="FriendlyName" HeadingText="{SharedStrings:Friendly_Name}"></Column>
        <Column Width="60" AllowSorting="true" DataField="IsDefault" HeadingText="{SharedStrings:IsDefault}"></Column>
      </Columns>
    </View>

    <View id="Language-Edit" name="{SharedStrings:Language_Edit}" controlUrl="Content/Dictionaries/LanguageEdit.ascx" permissions="content:site:mng:edit" help="Adding+New+Languages">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Content/Dictionaries/Tabs/LanguageEditTab.ascx"></Tab>
      </Tabs>
    </View>
    <!-- END: Dictionaries -->

	</Views>
</Configuration>
