body {
    background: @site-background;
    color: @grey;
    font-size: 16px;
    padding-bottom: 2em;
}

h1, h2, h3 { margin-top: 0; }

.cookies {
    background: #323738;
    color: #fff;
    font-size: 14px;
    padding: 10px;

    p {
        margin: 0;
        vertical-align: middle;
    }
}

.container { width: auto; }
.epi-editContainer { .clearfix(); }


@media (min-width: 767px) {
  .site-wrapper {
    margin: 0 auto;
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .site-wrapper {
    margin: 0 auto;
    max-width: 1170px;
  }
}

// Colors
//===============================================================================================
.link--white {
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active { 
        background-color: transparent;
        color: #fff;
    }
}
.link--grey {
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active { 
        background-color: transparent;
        color: @grey;
    }
}

.form--grey { 
    .flat-form();
    border-color: @grey;
}
.btn--grey {
    &,
    &:active,
    &:focus,
    &:visited,
    &:hover {
        background-color: @grey;
        color: #fff;
    }
}

.form--blue { 
    .flat-form();
    border-color: @blue; 
}
.btn--blue {
    &,
    &:active,
    &:focus,
    &:visited {
        background-color: @blue;
        color: #fff;
    }
    &:hover {
        background-color: @light-blue;
        color: #fff;
    }
}

.form--green { 
    .flat-form();
    border-color: @green; 
}
.btn--green {
    &,
    &:active,
    &:focus,
    &:visited,
    &:hover {
        background-color: @green;
        color: #fff;
    }
}

// Misc objects re-used across the site
//===============================================================================================
.form-inline { display: inline; }
.block-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Make all buttons square
.btn { .flat-form; }


// Social sharing buttons
.btn--social {
    background: @grey;
    border-radius: 2000px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 32px;
    padding-top: 3px;
    text-align: center;
    width: 32px;

    &--small {
        font-size: 14px;
        height: 24px;
        padding-top: 1px;
        width: 24px;
    }

    &:hover,
    &:active,
    &:focus {
        background: @blue;
        color: #fff;
        text-decoration: none;
    }

    .fa { vertical-align: middle; }

    .fa-{
        &facebook,
        &google { margin-top: 1px; }
    
        &envelope { font-size: 16px; }
    }
    &&--small .fa-envelope { font-size: 12px; }
}

// Little counter block
.counter {
    background: @grey;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    padding: 2px 4px;

    &.counter--small { 
        font-size: 12px;
        line-height: 12px;
    }

    &.counter--medium { 
        font-size: 14px;
        line-height: 14px;
    }
}

// Squared off block with background
.section-box {
    background: #f8f9f9;
    border: 1px solid @light-grey;
    padding: 10px;
}

// Stacked sidebar navigation
.sidebar-nav {
    li { 
        & + li { margin: 0; }
        
        a { 
            border: 1px solid @light-grey;
            border-bottom-width: 0px;
        }
        &:last-child a { border-bottom-width: 1px; }

        &.is-active {
            a { 
                background: @blue;
                border-color: @blue;
                color: #fff;
            }
        }
        a:hover { 
            background: @light-blue;
            border-color: @light-blue;
            color: #fff;
        }
    }
}