@charset "utf-8";
/* CSS Document */


/* Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) { ... }

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {

.hide-sm {
	display:none;
}
.show-sm {
	display:inline-block;
}


/* Menu
------------------------------*/

.quicksilver .navbar {
	font-size:14px;
}

.quicksilver ul.nav li.dropdown a {
    padding: 10px;
}

.quicksilver .dropdown-menu {
	min-width:140px;
}

.quicksilver .navbar a {
    padding: 20px 15px;
}

/* Product row
------------------------------*/

.product-item {
	border-bottom:1px solid #ededed;
	padding-bottom:10px;
}

.product-info {
	padding-top:10px;
}

.product-row .product .btn, .shopping-button .btn {
	padding:0;
}

.product-row .product .btn .cart-icon, .shopping-button .btn .cart-icon {
	margin-left:0;
}

/* Category row
------------------------------*/
.category-page .view-details {
	background-position: -24px -115px;
}



/* Footer
------------------------------*/
.footer .col-sm-12 {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ededed;
}

}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {

.hide-xs {
	display:none;
}
.show-xs {
	display:inline-block;
}

svg {max-width:100%;}

/* Header
------------------------------*/
.header-right-side {
	margin-top:20px;
}	

/* Search
------------------------------*/
.search {
	width:100%;
	
}

/* Menu
------------------------------*/

.quicksilver .navbar {
	margin-top:10px;
}

.quicksilver ul.nav {
	margin-bottom:0;
	margin-top:0;
}

.quicksilver .navbar li{
	background:#fff;
}

.quicksilver .navbar-right {
	margin:0 -15px;
}

.quicksilver ul.nav li.dropdown {
	margin-top:0;
	background:#fff;
	box-shadow:none;
}

.quicksilver ul.nav li.dropdown a {
    padding: 20px;
}

.quicksilver ul.nav li.dropdown a:hover, .quicksilver ul.nav li a:focus{
	background:#444a4c;
	color:#fff;
}

.quicksilver .navbar a {
    color:#444a4c;
    padding: 20px;
	text-shadow:none;
	border:1px solid #ededed;
	border-top:none;
}

.quicksilver .navbar li.active a, .quicksilver .navbar li a:hover, .quicksilver .navbar li a:focus {
    color:#fff;
}

.quicksilver ul.nav.nav-tabs li, .quicksilver ul.nav.nav-tabs li a:focus {
	color:#444a4c;
}

.quicksilver ul.nav li:first-child {
	margin-left:0;
}

.quicksilver ul.nav li:last-child {
    margin-right: 0;
}

/* Product row
------------------------------*/
.product-image:hover .view-details {
	display:none;
}

.product-row .product .btn, .shopping-button .btn {
	padding-left:15px;
}

.product-row .product .btn .cart-icon, .shopping-button .btn .cart-icon {
	margin-left:15px;
}

/* Checkout
------------------------------*/
.checkout .table {
	font-size:14px;
}

.checkout .btn {
	width:100%;
	margin:0 0 10px 0;
}

/* Login
------------------------------*/

.col-md-6 {
	margin-bottom:20px;
}

/* footer
------------------------------*/

.social-icon {
	margin-right:3px;
}
}