
<div class="col-md-5 col-sm-5 alert alert-danger">
    <h3>@Html.Translate("/Login/ExternalLoginFailure/Heading")</h3>
    <p>@Html.Translate("/Login/ExternalLoginFailure/Message")</p>
</div>Failure/Heading")