@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.LoginPageViewModel

<div class="container-fluid">
    <div class="row">
        @{

            Html.RenderPartial("RegisterAccount", Model.RegisterAccountViewModel);

            Html.RenderPartial("Login", Model.LoginViewModel);

        }
    </div>
</div>