@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.LoginViewModel

<div class="col-md-5 col-sm-5 alert alert-danger">
    <h3>@Html.Translate("/Login/Lockout/Heading")</h3>
    <p>@Html.Translate("/Login/Lockout/Message")</p>
</div>