@model EPiServer.Reference.Commerce.Site.Features.Login.ViewModels.RegisterAccountViewModel

<div class="col-md-6 col-sm-6">
    <h3>@Html.Translate("/Registration/RegisterAccountConfirmation/Heading")</h3>
    <p>@string.Format(Html.Translate("/Registration/RegisterAccountConfirmation/ConfirmationMessage"), Model.Email)</p>
</div>