@model EPiServer.Reference.Commerce.Site.Features.ResetPassword.ViewModels.ResetPasswordMailModel
@{
    Layout = null;
}

@Html.Translate("/ResetPassword/Mail/Text") <a href="@Model.CallbackUrl">@Html.Translate("/ResetPassword/Mail/Link")</a>

