<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=.;Initial Catalog=Quicksilver.Cms;Integrated Security=False;User ID=Quicksilver;Password=Episerver15;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=.;Initial Catalog=Quicksilver.Commerce;Integrated Security=False;User ID=Quicksilver;Password=Episerver15;Connect Timeout=10;Application Name=ECApplication" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=episerverstarterkit;AccountKey=u/nmhcvH4fbN99VWJDejxjnuHdf0aGx5/7u0z82OIUISIoX7+UoPu2uptcY6pHYPbE0Uwjz0yydMJx8VKfXhfA==" />
  <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://episerverstarterkit.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SB4Jpw0fonVxTwcCZosJTPfSYh6N21gFhC7Ut2TVgy0=" />
</connectionStrings>