<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <appData basePath="../appdata" />
  <!--<blob defaultProvider="azureblobs">
    <providers>
      <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure" connectionStringName="EPiServerAzureBlobs" container="mysitemedia" />
    </providers>
  </blob>
  <event defaultProvider="azureevents">
    <providers>
      <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure" connectionStringName="EPiServerAzureEvents" topic="MySiteEvents" />
    </providers>
  </event>-->
  <blob defaultProvider="azureblobs">
    <providers>
      <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure" connectionStringName="EPiServerAzureBlobs" container="mysitemedia" />
    </providers>
  </blob>
  <event defaultProvider="azureevents">
    <providers>
      <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure" connectionStringName="EPiServerAzureEvents" topic="MySiteEvents" />
    </providers>
  </event>
</episerver.framework>