<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuthorizeNet" version="1.8.10" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EPiServer.CMS.Core" version="10.4.3" targetFramework="net452" />
  <package id="EPiServer.CMS.UI.AspNetIdentity" version="10.6.1" targetFramework="net452" />
  <package id="EPiServer.CMS.UI.Core" version="10.6.1" targetFramework="net452" />
  <package id="EPiServer.Framework" version="10.4.3" targetFramework="net452" />
  <package id="EPiServer.Logging.Log4Net" version="2.1.0" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="structuremap.web-signed" version="3.1.6.186" targetFramework="net452" />
  <package id="structuremap-signed" version="3.1.9.463" targetFramework="net452" />
  <package id="EPiServer.Commerce.Core" version="10.4.3" targetFramework="net452"/>
  <package id="EPiServer.CommerceManager" version="10.4.3" targetFramework="net452"/>
</packages>
