<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="FrameworkProviders">
      <section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
      <section name="imageService" type="Mediachase.Commerce.Engine.Images.ImageServiceSection, Mediachase.Commerce" />
      <section name="templateService" type="Mediachase.Commerce.Engine.Template.TemplateProviderSection, Mediachase.Commerce" />
      <section name="urlService" type="Mediachase.Commerce.Engine.Navigation.UrlProviderSection, Mediachase.Commerce" />
    </sectionGroup>
    <sectionGroup name="CommerceFramework">
      <section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce" />
      <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
      <section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce" />
      <section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce" />
      <section name="Security" type="Mediachase.Commerce.Security.Configuration.SecurityConfigurationSection,Mediachase.Commerce" />
      <section name="Customers" type="Mediachase.Commerce.Customers.Configuration.CustomerConfiguration,Mediachase.Commerce" />
      <section name="SSL" type="Mediachase.Commerce.Website.Ssl.SecureWebPageSectionHandler, Mediachase.Commerce.Website" />
      <section name="Mediachase.Search" type="Mediachase.Search.SearchConfiguration,Mediachase.Search" />
      <section name="Customization" type="Mediachase.Commerce.Customization.Configuration.CustomizationConfiguration,Mediachase.Commerce" />
    </sectionGroup>
    <section name="Mediachase.RssNews" type="Mediachase.Web.Console.RssConfiguration, Mediachase.WebConsoleLib" />
    <sectionGroup name="mediachase.businessFoundation.data" type="Mediachase.BusinessFoundation.Data.Configuration.MediachaseDataSectionGroup, Mediachase.BusinessFoundation.Data">
      <section name="metaClassManager" type="Mediachase.BusinessFoundation.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.BusinessFoundation.Data" />
      <section name="metaObject" type="Mediachase.BusinessFoundation.Data.Meta.Configuration.MetaObjectSection, Mediachase.BusinessFoundation.Data" />
      <section name="businessManager" type="Mediachase.BusinessFoundation.Data.Business.Configuration.BusinessManagerSection, Mediachase.BusinessFoundation.Data" />
    </sectionGroup>
    <sectionGroup name="Mediachase.BusinessFoundation">
      <section name="BusinessFoundationSettings" type="Mediachase.BusinessFoundation.Configuration.BusinessFoundationConfigurationSection, Mediachase.BusinessFoundation" />
    </sectionGroup>
    <sectionGroup name="mediachase.fileUploader" type="Mediachase.FileUploader.Configuration.MediachaseFileUploaderSectionGroup, Mediachase.FileUploader">
      <section name="fileUploaderContext" type="Mediachase.FileUploader.Configuration.FileUploaderContextSection, Mediachase.FileUploader" />
      <section name="tempFileStorage" type="Mediachase.FileUploader.Web.Configuration.TempFileStorageSection, Mediachase.FileUploader" />
      <section name="uploadProgress" type="Mediachase.FileUploader.Web.Configuration.UploadProgressSection, Mediachase.FileUploader" />
      <section name="fileUploadControl" type="Mediachase.FileUploader.Web.Configuration.FileUploadControlSection, Mediachase.FileUploader" />
    </sectionGroup>
    <sectionGroup name="mediachase.xmlTools">
      <section name="diskFileProvider" type="Mediachase.BusinessFoundation.DiskFileProvider, Mediachase.BusinessFoundation" />
    </sectionGroup>
    <section name="episerver.framework" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
    <section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <clear />
    <add name="EPiServerDB" connectionString="Data Source=.;Initial Catalog=Quicksilver.Cms;Integrated Security=False;User ID=Quicksilver;Password=Episerver15;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnection" connectionString="Data Source=.;Initial Catalog=Quicksilver.Commerce;Integrated Security=False;User ID=Quicksilver;Password=Episerver15;Connect Timeout=10;Application Name=ECApplication" providerName="System.Data.SqlClient" />
    <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=episerverstarterkit;AccountKey=u/nmhcvH4fbN99VWJDejxjnuHdf0aGx5/7u0z82OIUISIoX7+UoPu2uptcY6pHYPbE0Uwjz0yydMJx8VKfXhfA==" />
    <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://episerverstarterkit.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SB4Jpw0fonVxTwcCZosJTPfSYh6N21gFhC7Ut2TVgy0=" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LibraryHandlerExtension" value=".xsd" />
    <add key="HtmlEditorControl" value="~/_cmsbase/Design/Modules/Editors/CuteEditor/EditorControl.ascx" />
    <add key="HtmlPopupEditor" value="~/_cmsbase/Design/Modules/Editors/CuteEditor/PopUpEdit.aspx" />
    <add key="CuteEditorDefaultFilesPath" value="~/_cmsbase/Design/Modules/Editors/CuteEditor" />
    <add key="DictionaryFolder" value="~/_cmsbase/Dictionaries" />
    <add key="CuteEditorLicense" value="~/_cmsbase/Design/licenses/CuteEditor.lic" />
    <add key="MCCatalogDefaultImage" value="~/Templates/Everything/styles/images/nopic.png" />
    <!-- Admin Settings -->
    <add key="ShellFirstPageUrl" value="~/Apps/Shell/Pages/ContentFrame.aspx" />
    <add key="AppsDir" value="~/Apps" />
    <add key="AdminHtmlEditorControl" value="~/Apps/Core/Controls/Editors/TinyMCE/EditorControl.ascx" />
    <add key="CommerceManagerHelpUrlPrefix" value="http://docs.mediachase.com/display/ECFG52CommerceGuide/" />
    <!-- Import Export Folder -->
    <add key="ECF.ImportExportFolder" value="~/app_data/ImportExport/" />
    <!-- Global Default Settings -->
    <add key="DefaultCountryCode" value="GBR" />
    <add key="SearchApiUrl" value="http://localhost:50244/" />
    <!--Feedback URL-->
    <add key="FeedbackUrl" value="http://www.mediachase.com/catalog/Contact-Us,135.aspx" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="PromotionExclusionLevel" value="Order" />
  </appSettings>
  <!-- Business Foundation Configuration -->
  <mediachase.businessFoundation.data>
    <businessManager configSource="Configs\baf.data.manager.config" />
    <metaObject configSource="Configs\baf.data.metaobject.config" />
  </mediachase.businessFoundation.data>
  <Mediachase.BusinessFoundation>
    <!--Business foundation configuration-->
    <BusinessFoundationSettings configSource="Configs\baf.config" />
  </Mediachase.BusinessFoundation>
  <mediachase.xmlTools />
  <mediachase.fileUploader>
    <fileUploaderContext>
      <filters>
        <add type="Deny" requestPath="*/controls/editors/*" />
        <add type="Allow" requestPath="*" />
      </filters>
    </fileUploaderContext>
    <tempFileStorage timeout="60" defaultProvider="McLocalDiskTempFileStorageProvider">
      <providers>
        <add name="McLocalDiskTempFileStorageProvider" type="Mediachase.FileUploader.Web.LocalDiskTempFileStorageProvider, Mediachase.FileUploader" description="" tempStoragePath="%TEMP%" />
      </providers>
    </tempFileStorage>
    <uploadProgress timeout="60" defaultProvider="McInProcessProgressStateProvider">
      <providers>
        <add name="McInProcessProgressStateProvider" type="Mediachase.FileUploader.Web.InProcessUploadProgressProvider, Mediachase.FileUploader" description="" />
      </providers>
    </uploadProgress>
    <fileUploadControl embeddedModePage="Apps/Core/Controls/Uploader/uploadembedded.aspx" iframeModePage="Apps/Core/Controls/Uploader/uploadiframe.aspx" popUpModePage="Apps/Core/Controls/Uploader/uploadpopup.aspx" />
  </mediachase.fileUploader>
  <!-- Framework configuration -->
  <CommerceFramework>
    <!-- Search Configuration -->
    <Mediachase.Search configSource="Configs\Mediachase.Search.config" />
    <!-- Application Configuration -->
    <Application configSource="Configs\ecf.app.config" />
    <!-- Catalog Configuration -->
    <Catalog configSource="Configs\ecf.catalog.config" />
    <!-- Marketing Configuration -->
    <Marketing configSource="Configs\ecf.marketing.config" />
    <!-- Orders Configuration -->
    <Orders configSource="Configs\ecf.order.config" />
    <!-- Customers Configuration -->
    <Customers configSource="Configs\ecf.customer.config" />
    <!-- Security Configuration -->
    <Security configSource="Configs\ecf.security.config" />
    <!-- SSL Configuration -->
    <SSL configSource="Configs\ecf.ssl.config" />
    <!-- Customization Configuration -->
    <Customization configSource="Configs\ecf.customization.config" />
  </CommerceFramework>
  <!-- Various Framework Providers -->
  <FrameworkProviders>
    <dataService defaultProvider="SqlDataProvider">
      <providers>
        <add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="CommerceSample" />
      </providers>
    </dataService>
    <imageService defaultProvider="HandlerImageProvider">
      <providers>
        <add name="HandlerImageProvider" type="Mediachase.Commerce.Engine.Images.Providers.HandlerImageProvider, Mediachase.Commerce" urlFormatString="~/images/t/{0}.image.ashx" applicationName="CommerceSample" />
      </providers>
    </imageService>
    <urlService>
      <providers>
      </providers>
    </urlService>
  </FrameworkProviders>
  <Mediachase.RssNews>
    <Items>
      <add urlPath="http://world.episerver.com/Articles?feed=RSS" culture="en-US" newsCount="7" />
    </Items>
  </Mediachase.RssNews>
  <!--END: Mediachase Framework Configuration -->
  <system.web>
    <healthMonitoring enabled="true">
      <providers>
        <add connectionStringName="EcfSqlConnection" maxEventDetailsLength="1073741823" buffer="true" bufferMode="Notification" name="MySqlEventLogProvider" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <rules>
        <!--
        <clear/>
        <add name="My All Errors Default" eventName="All Errors" provider="MySqlEventLogProvider"
           profile="Default" minInstances="1" maxLimit="Infinite"
           minInterval="00:01:00" custom=""/>
           -->
      </rules>
    </healthMonitoring>
    <!--<globalization culture="en-GB" uiCulture="en-GB"/>-->
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6.1" />
    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="ComponentArt" namespace="ComponentArt.Web.UI" assembly="ComponentArt.Web.UI" />
        <add tagPrefix="IbnWebControls" namespace="Mediachase.BusinessFoundation" assembly="Mediachase.BusinessFoundation" />
        <add tagPrefix="custom" namespace="Mediachase.Web.Console.Controls" assembly="Mediachase.WebConsoleLib" />
        <add tagPrefix="catalog" namespace="Mediachase.Commerce.Catalog.DataSources" assembly="Mediachase.Commerce" />
        <add tagPrefix="orders" namespace="Mediachase.Commerce.Orders.DataSources" assembly="Mediachase.Commerce" />
        <add tagPrefix="core" namespace="Mediachase.Commerce.Core.DataSources" assembly="Mediachase.Commerce" />
        <add tagPrefix="cms" namespace="Mediachase.Commerce.Shared" assembly="Mediachase.Commerce" />
      </controls>
      <namespaces>
        <add namespace="EPiServer.Shell.Web.Mvc.Html" />
      </namespaces>
    </pages>
    <trust level="Full" />
    <customErrors mode="Off" />
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!-- To allow using CMS Profile we need to enable anonymous authentication, even though authentication to admin will be always inforced-->
    <anonymousIdentification enabled="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None">
      <forms loginUrl="/Apps/Shell/Pages/Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="4320" />
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="CMSProfileProvider" inherits="Mediachase.Commerce.Customers.Profile.CustomerProfile, Mediachase.Commerce">
      <providers>
        <clear />
        <add name="CMSProfileProvider" type="Mediachase.Commerce.Customers.Profile.Providers.CustomerSqlProfileProvider, Mediachase.Commerce" connectionStringName="EcfSqlConnection" />
      </providers>
      <properties />
    </profile>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <siteMap>
      <providers>
      </providers>
    </siteMap>
    <!--
          ASMX is mapped to a new handler so that proxy javascripts can also be served.
    -->
    <httpHandlers>
      <add verb="*" path="*.image.ashx" type="Mediachase.Commerce.Catalog.Handlers.CatalogImageHandler,Mediachase.Commerce" />
      <remove path="*.asmx" verb="*" />
      <remove path="*.xsd" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="McFileUploaderResources.axd" verb="GET" type="Mediachase.FileUploader.AssemblyResourceHandler, Mediachase.FileUploader" />
      <add path="*.xsd" verb="*" type="Mediachase.Commerce.Assets.LibraryRequestHandler, Mediachase.Commerce" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Mediachase.FileUploader.McHttpModule" type="Mediachase.FileUploader.McHttpModule, Mediachase.FileUploader" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing,Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="BusinessFoundationInitializeModule" type="Mediachase.Commerce.Core.Modules.BusinessFoundationInitializeModule, Mediachase.Commerce" />
      <add name="FrameworkInitializationModule" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework" />
    </httpModules>
  </system.web>
  <location path="Apps/Shell/Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Shell/Pages/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Shell/EPi/Shell/Light">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Mediachase.FileUploader.McHttpModule" preCondition="managedHandler" type="Mediachase.FileUploader.McHttpModule, Mediachase.FileUploader" />
      <add name="UrlRoutingModule" preCondition="managedHandler" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing,Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="BusinessFoundationInitializeModule" preCondition="managedHandler" type="Mediachase.Commerce.Core.Modules.BusinessFoundationInitializeModule, Mediachase.Commerce" />
      <add name="FrameworkInitializationModule" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework.AspNet" preCondition="managedHandler" />
      <add name="ShellRoutingModule" type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="McFileUploaderResources" />
      <remove name="LibraryRequestHandler" />
      <remove name="ReportingHttpHandler" />
      <add name="EcfImageHandler" verb="*" path="*.image.ashx" preCondition="integratedMode" type="Mediachase.Commerce.Catalog.Handlers.CatalogImageHandler,Mediachase.Commerce" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="McFileUploaderResources" preCondition="integratedMode" path="McFileUploaderResources.axd" verb="GET" type="Mediachase.FileUploader.AssemblyResourceHandler, Mediachase.FileUploader" />
      <add name="ReportingHttpHandler" preCondition="integratedMode" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="modulesbin" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.30930.28736" newVersion="3.0.30930.28736" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentArt.Web.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2012.1.1016.35" newVersion="2012.1.1016.35" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RssToolkit" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validators" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Logging.Log4Net" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.1.0" newVersion="11.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.1.0" newVersion="11.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Cms.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.1.0" newVersion="11.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.1.0" newVersion="11.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Cms.UI.AspNetIdentity" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.1.0" newVersion="11.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Cms.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.10.6.0" newVersion="11.10.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ServiceLocation.StructureMap" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Business.Commerce" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Commerce.Reporting" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation.Data" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce" publicKeyToken="6e58b501b34abce3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Marketing.Validators" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Payment" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Shipping" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Website" publicKeyToken="6e58b501b34abce3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Workflow" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.DataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.FileUploader" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.MetaDataPlus" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search" publicKeyToken="6e58b501b34abce3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.Extensions" publicKeyToken="6e58b501b34abce3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.LuceneSearchProvider" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.SqlDataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Commerce.Internal.Migration" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.ConsoleManager" publicKeyToken="null" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.15.0.0" newVersion="12.15.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <!-- ChangeThis - Refer to https://msdn.microsoft.com/en-us/library/ms164240(v=vs.100).aspx for outgoing mail server settings -->
      <smtp from="noreply@quicksilver.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <!-- Comment this section out to enable rule execution trace WorkflowTrace.log -->
    <!--
         <switches>
           <add name="System.Workflow.Activities.Rules" value="All"/>
           <add name="System.Workflow LogToFile" value="1"/>
         </switches>
  -->
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransportCustom" type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Framework.AspNet" />
      </bindingElementExtensions>
    </extensions>
    <services>
      <service name="EPiServer.Events.Remote.EventReplication" behaviorConfiguration="DebugServiceBehaviour">
        <endpoint name="RemoteEventServiceEndPoint" contract="EPiServer.Events.ServiceModel.IEventReplication" binding="customBinding" bindingConfiguration="RemoteEventsBinding" address="soap.udp://239.255.255.19:5000/RemoteEventService" />
      </service>
    </services>
    <client>
      <endpoint name="RemoteEventServiceClientEndPoint" address="soap.udp://239.255.255.19:5000/RemoteEventService" binding="customBinding" bindingConfiguration="RemoteEventsBinding" contract="EPiServer.Events.ServiceModel.IEventReplication" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="EPiServer.Business.Commerce.EventServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="CommerceSiteBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EventServiceEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="RemoteEventsBinding">
          <binaryMessageEncoding />
          <udpTransportCustom multicast="True" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <episerver.framework configSource="EPiServerFramework.config" />
  <episerver>
    <applicationSettings enableModelSyncCommit="false" uiUrl="~/UI/" enableScheduler="false" />
  </episerver>
  <location path="Modules/_Protected">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <clear />
        <add name="BlockDirectAccessToProtectedModules" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      </handlers>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="Apps/Shell/Pages/Readonly.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <episerver.shell>
    <publicModules rootPath="~/modules/" autoDiscovery="Modules" />
    <protectedModules rootPath="~/EPiServer/">
      <add name="Shell" />
      <add name="CMS" />
    </protectedModules>
  </episerver.shell>
</configuration>
