<?xml version="1.0"?>
<Configuration version="5.2">
	<Acl>
		<Group id="site" text="{SharedStrings:Sites}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				<Permission id="import" text="{SharedStrings:Import}"></Permission>
				<Permission id="export" text="{SharedStrings:Export}"></Permission>
			</Group>
			<Group id="nav" text="{SharedStrings:Folders_And_Pages}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="design" text="{SharedStrings:Design}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="menu" text="{SharedStrings:Menus}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="workflow" text="{SharedStrings:Workflow}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="templates" text="{SharedStrings:Templates}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="create" text="{SharedStrings:Create}"></Permission>
					<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
	</Acl>
</Configuration>