@model EPiServer.Reference.Commerce.Site.Features.Checkout.ViewModels.CheckoutViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <h3>@Html.Translate("/Checkout/Payment/Labels/ChoosePayment")</h3>
        @foreach (var method in Model.PaymentMethodViewModels)
        {
            <div class="radio">
                <label>
                    @{ string checkState = method.SystemKeyword == Model.Payment.SystemKeyword ? "checked" : string.Empty; }
                    <input type="radio" class="jsChangePayment" name="SystemKeyword" value="@method.SystemKeyword" @checkState/> @method.FriendlyName
                </label>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="jsPaymentMethod">
            @if (Model.Payment != null)
            {
                var controller = string.Format("_{0}PaymentMethod", Model.Payment.SystemKeyword);

                Html.RenderPartial(controller, Model.Payment);
            }
        </div>
    </div>
</div>