<appSettings>
  <add key="CommerceManagerApplicationName" value="ECApplication" />
  <add key="CommerceManagerLink" value="http://localhost:63149/Apps/Shell/Pages/default.aspx" />
  <add key="ProductListPageType" value="" />
  <add key="ProductDetailPageType" value="" />
  <add key="UseLegacyAssetSystem" value="false" />
  <add key="LibraryHandlerExtension" value="" />
  <add key="Mediachase.StoreEmail" value="eCommerce@episerver.com" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PasswordResetValidMinutes" value="60" />
  <add key="AutoMigrateEPiServer" value="true" />
  <add key="DisableVersionSync" value="true" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
</appSettings>