<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings globalErrorHandling="Off" disableVersionDeletion="false" httpCacheability="Public" uiEditorCssPaths="" urlRebaseKind="ToRootRelative" pageUseBrowserLanguagePreferences="false" uiShowGlobalizationUserInterface="true" subscriptionHandler="EPiServer.Personalization.Internal.SubscriptionMail,EPiServer.Cms.AspNet" uiMaxVersions="20" pageValidateTemplate="false" utilUrl="~/util/" uiUrl="~/episerver/CMS/" />
</episerver>