<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <workflowSettings>
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
    <definitions>
      <!-- definition:           Workflow definitions that should be predefined, that is if no definition with
                                     specified type exists it will be created-->
      <!-- 
              <definition name="Sequential Approval"    description="A sequential approval workflow for pages"          type="EPiServer.WorkflowFoundation.Workflows.SequentialApproval,EPiServer.WorkflowFoundation"/>
              <definition name="Parallel Approval"      description="A paralell approval workflow for pages"            type="EPiServer.WorkflowFoundation.Workflows.ParallelApproval,EPiServer.WorkflowFoundation"/>
              <definition name="Request for feedback"   description="Assigns request for feedback tasks to users/roles" type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedback,EPiServer.WorkflowFoundation"/>
              <definition name="Ready for translation"  description="Assigns translation tasks to users/roles"          type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslation,EPiServer.WorkflowFoundation"/>
        -->
    </definitions>
    <externalServices>
      <!-- externalService:      Custom services that is to be registered with workflow runtime-->
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
    </externalServices>
    <references>
      <!-- reference:            References for xoml based workflows, used at compiling of xoml based workflows-->
      <!-- reference path="C:\Inetpub\wwwroot\mysiste\bin\customdependency.dll" /-->
    </references>
  </workflowSettings>
  <applicationSettings httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" urlRebaseKind="ToRootRelative" uiUrl="~/episerver/CMS/" utilUrl="~/util/" />
</episerver>